<style type="text/css">
   md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
    border-color: rgb(213,0,0) !important;
}
#emp-add-action>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -49px;
    padding-left: -15px;
    border-radius: 42px;
} 
#save>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -20px;
    padding-left: -15px;
    border-radius: 42px;
}
#close>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -20px;
    padding-left: -15px;
    border-radius: 42px;
}
#close{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important;
} 
#save{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important;
}
#emp-add-action{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important
}    
</style>
<style type="text/css">
       md-input-container .md-input {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f !important;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
}
md-input-container{
    margin:0 !important;
}
</style>
<section class="container-fluid with-maxwidth chapter">
    <div class="box-body" style="background: none;">
        <div class="col-md-12 nopad" ng-show="showform">
            <div class="right actionbtn">
                <md-button type="button" ng-click="submit_form()" id='save' class="md-raised btn-w-md md-primary" ng-if = "add">{{ 'SAVE' | translate}}</md-button>
                <md-button type="button" ng-click="submit_form()" id='save' class="md-raised btn-w-md md-primary" ng-if = "!add">{{ 'UPDATE' | translate}}</md-button>
                
                <md-button type="button" ng-click="closeform()" class="md-raised btn-w-md md-primary" id='close'>{{ 'CLOSE' | translate }}</md-button>
            </div>
        </div>
        <div class="col-md-12">
                  <div ng-hide="showform" class="col-md-4" style="    margin-top: 32px;    margin-left: -38px;font-size: 21px;"><span>{{ 'CUST-INFO' | translate}}</span></div>
                   <div ng-hide="showform" class="col-md-4" style=""><form class="flex">
                        <md-input-container class="md-block" flex=100 style="-webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
    margin-top: 2em !important">
                            <input ng-model="searchFish" class="searchmrg" style="border: none !important;
    background: none">
                        <md-icon class="ng-scope material-icons" style="margin-top: -3px;      color: black;">search</md-icon>
                        </md-input-container>
                    </form>
                    </div>
        <div class="col-md-4 nopad" ng-hide="showform" style="margin-top: 1em">
            <div class="right addbtn">
                <md-button class="md-raised btn-w-md md-accent" id='emp-add-action' ng-click="addbtn()" >{{ 'add-cust' | translate}}</md-button>
            </div>
        </div>
      </div>
    </div>
    <article class="article" ng-show="showform">
        <div class="box box-default">
            <div class="box-body form-validation">
                <form name="data_form" unsaved-warning-form class="md-form-login form-validation" novalidate>
                    <div class="col-md-4">
                    <label>Customer Name<span style="color: red">*</span> </label>
                        <md-input-container class="md-block" id='customer-name-section'>
                            <input ng-model="data.name" required type="text" id='customer-name' name="name">
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                            <label class="phone" style="background: none"> {{ 'MOBILE' | translate }} <span style="color: red">*</span></label>                        
                        <md-input-container class="md-block">
                            <input required ng-model="data.contact_no" id='phone-no' type="text"
 name="name" ng-intl-tel-input>
                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                            <label>{{ 'EMAIL' | translate }} <span style="color: red">*</span></label>

                        <md-input-container class="md-block">
                            <input required type="email" name="email" id='email' ng-model="data.email" ng-pattern="/^.+@.+\..+$/" />
                        </md-input-container>
                    </div>
 <!--                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Contact Person</label>
                            <input type="text" ng-model="data.contact_person" />
                        </md-input-container>
                    </div> -->
 <!--                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Pan </label>
                            <input type="text" ng-model="data.pan" />
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>TIN </label>
                            <input type="text" ng-model="data.tin" />
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Location</label>
                            <input type="text"  ng-model="data.location" />
                        </md-input-container>
                    </div> -->
                    <div class="col-md-12">
                            <label>{{ 'ADDRESS' | translate }} <span style="color: red">*</span></label>

                        <md-input-container class="md-block">
                            <input  type="text" googleplace required="" id='address' ng-model="data.address" ng-change="geocodeupdateloc()">
                        </md-input-container>
                    </div>





                   <!--  <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> City </label>
                            <input  type="text" name="city" ng-model="data.city" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>District </label>
                            <input  type="text" name="district" ng-model="data.district" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> State </label>
                            <input  type="text" name="state" ng-model="data.state" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Country </label>
                            <input  type="text" name="country" ng-model="data.country" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Zip Code </label>
                            <input  type="text" limitto="6" name="zip" ng-model="data.zipcode" ng-blur="geocodeupdateloc()">
                        </md-input-container>
                    </div> -->
       <!--              <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Desc</label>
                            <textarea ng-model="data.desc" md-select-on-focus></textarea>
                        </md-input-container>
                    </div> -->
     <!--                <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Belong to Employee</label>
                            <md-select ng-model="data.emp_id" aria-label="select" required>
                                <md-option ng-repeat="user in  users" value="{{user.user_id}}"> {{user.first_name}} {{user.last_name}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div> -->
                    <!--  <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Customer Type</label>
                            <md-select ng-model="data.type" aria-label="select" >
                                <md-option ng-repeat="type in companytype track by $index" value="{{$index}}"> {{type}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div> -->
                    <div class="col-md-12 nopad">
                        <h5>Customer Location Map</h5>
                    </div>
                    <div class="col-md-12 gmmap">
                        <gm-map ng-if="showform" options="{center: [data.loc_lat, data.loc_lng], zoom: mapzoom}" >

                            <gm-marker options="{position:[data.loc_lat, data.loc_lng],draggable: true}" on-dragend="getpos(marker.getPosition(),map.getZoom())">
                            </gm-marker>
                        </gm-map>
                    </div>
<!--                     <div class="col-md-12 nopad">
                        <div class="col-lg-4 col-md-4 pad8" ng-repeat="file in data.uploads  track by $index">
                            <md-card>
                                <div class="md-media-lg card-media mdobj ">
                                    <a download="{{file}}" href="{{file}}" title="File">
                                        <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                    </a>
                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="FileDelete($index)">Remove File </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                    <div class="col-md-12 nopad">
                        <h5>{{title}} File Upload</h5>
                    </div> -->
                    <div class="col-md-12 nopad" ng-hide="true">
                        <lf-ng-md-file-input lf-api="lfApi" name="files" lf-files="files" lf-maxcount="5" lf-filesize="10MB" lf-totalsize="20MB" multiple>
                        </lf-ng-md-file-input>
                    </div>
                    <div class="col-md-12">
                        <hr>
                        <md-button type="button" data-ng-click="closeform()" id='close' class="md-raised right wid btn-w-md md-primary">{{ 'CLOSE' | translate }}</md-button>
                        <md-button type="submit" ng-click="submit_form()" id='save' class="right wid md-raised btn-w-md md-primary" ng-if = 'add'>{{ 'SAVE' | translate }}</md-button ng-if = 'add'>

                        <md-button type="submit" ng-click="submit_form()" id='save' class="right wid md-raised btn-w-md md-primary" ng-if = '!add'>{{ 'UPDATE' | translate }}</md-button>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <md-card>
        <md-content layout="column" flex>
            <md-toolbar class="md-table-toolbar md-default" ng-show="showsearch" aria-hidden="false">
                <div class="md-toolbar-tools">
                    <form class="flex">
                        <md-input-container class="md-block" flex=100>
                            <input ng-model="searchFish" placeholder="Search" class="searchmrg">
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar>
            <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex=40>
                        <label>Column</label>
                        <md-select ng-model="single.column" id='' ng-change="updateDataTable()">
                            <md-optgroup label="Column">
                                <md-option ng-value="column.name" ng-repeat="column in autocolumn">{{column.display}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex=40>
                        <label>Search</label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                    </md-input-container>
                    <md-button type="button" class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe>
            <md-table-container>
                <table md-table>
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus"></md-progress-linear>
                    <thead md-head md-order="query.order" style="background: #369490">
                        <tr md-row>
                            <th md-column ng-repeat="column in autocolumn" md-order-by="{{column.name}}" style="color:white;font-size: 16px">
                                <span>{{column.display}}</span>
                            </th>

                            <th md-column style="color:white;font-size: 16px">
                                <span>Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="row" md-select-id="name" md-auto-select ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell id='info-name'>{{vim.name}}</td>
                            <td md-cell id='info-email'>{{vim.email}}</td>
                            <td md-cell id='info-contactno'>{{vim.contact_no}}</td>
<!--                             <td md-cell>{{vim.contact_person}}</td>
                            <td md-cell>{{vim.emp}}</td> -->
                            <td md-cell id='info-fulladdress'>{{vim.full_address}}</td>
                            <td md-cell>
                                <md-button class="md-icon-button md-primary" data-ng-click="update_info(vim.id)" aria-label="mode_edit">
                                  <md-tooltip>
                            Edit
                        </md-tooltip>                <img src="/assets/images/edit.png" class="empimg" style="width: 69%">                    

                                </md-button>
                                <md-button class="md-icon-button" data-ng-click="view(vim.id)" aria-label="visibility">
                                  <md-tooltip>
                            View
                        </md-tooltip>
                                <a style="color: white;
    background: green;
    font-size: 10px;
    padding: 2px;
    border: coral;
    border-radius: 4px;
    text-decoration: none">VIEW</a>  
                                  </md-button>
                                <md-button class="md-icon-button  md-warn" id='customer-delete' data-ng-click="delete(vim.id)" aria-label="delete_forever">
                                  <md-tooltip>
                            Delete
                        </md-tooltip>
                         <img src="/assets/images/action-delete.png" class="empimg" style="width: 69%">                    

                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{datatable.data.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></md-table-pagination>
        </md-content>
    </md-card>
</section>
