<style type="text/css">
   md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
    border-color: rgb(213,0,0) !important;
}

#emp-add-action>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -49px;
    padding-left: -15px;
    border-radius: 42px;
} 
#save>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -20px;
    padding-left: -15px;
    border-radius: 42px;
}
#close>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -20px;
    padding-left: -15px;
    border-radius: 42px;
}
#close{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important;
} 
#save{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important;
}
#emp-add-action{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important
}  
</style>
<style type="text/css">
    md-input-container .md-input {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f !important;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
}
md-input-container{
    margin:0 !important;
}
md-select-value{
    border: none !important;
    color: #5f5b5b !important;
}
</style>
<section class="container-fluid with-maxwidth chapter">
    <div class="box-body" style="background: none">
        <div class="col-md-12 nopad" ng-show="showform" ng-if="appemp">
            <div class="right actionbtn">
                <md-button type="button" ng-click="submit_form()" id='save' class="md-raised btn-w-md md-primary" ng-if = "add">{{ 'SAVE' | translate}}</md-button>
                <md-button type="button" ng-click="submit_form()" id='save' class="md-raised btn-w-md md-primary" ng-if = "!add">{{ 'UPDATE' | translate}}</md-button>
                <md-button type="button" ng-click="closeform()" class="md-raised btn-w-md md-primary" id='close'>{{ 'CLOSE' | translate }}</md-button>

            </div>
        </div>
        <div class="col-md-12">
                  <div ng-hide="showform" class="col-md-4" style=" margin-top: 32px;    margin-left: -38px;font-size: 21px;"><span>{{ 'EMP-INFO' | translate}}</span></div>
                   <div ng-hide="showform" class="col-md-4" style=""><form class="flex">
                        <md-input-container class="md-block" flex=100 style="-webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
    margin-top: 2em !important">
                            <input ng-model="searchFish" class="searchmrg" style="border: none !important;
    background: none">
                        <md-icon class="ng-scope material-icons" style="margin-top: -3px;    color: black;">search</md-icon>
                        </md-input-container>
                    </form>
                    </div>
                <div class="col-md-12 nopad" ng-if="!appemp">
                    <p style="    float: right;color: red">You Reached Maximum Limit</p>
                </div>
        <div class="col-md-4 nopad" ng-hide="showform" ng-if="appemp" style="margin-top: 1em">
            <div class="right addbtn">
                <md-button class="md-raised btn-w-md md-accent" id='emp-add-action' ng-click="addbtn()">{{ 'add-emp' | translate}}</md-button>
            </div>
        </div>
      </div>

    </div>
    <article class="article" ng-show="showform">
        <div class="box box-default">
            <div class="box-body form-validation">
                <form name="data_form" unsaved-warning-form class="md-form-login form-validation" novalidate>
                    <div class="col-md-12">
                                       <div class="col-md-3">
                       <label>{{ 'F-NAME' | translate }}<span style="color: red">*</span> </label>
                        <md-input-container class="md-block">                          
                            <input ng-model="data.first_name" required type="text" id='emp-firstname' class="md-input">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <label>{{ 'L-NAME' | translate }}<span style="color: red">*</span></label>
                        <md-input-container class="md-block">
                            <input ng-model="data.last_name" required type="text" id='emp-lastname' class="md-input">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                            <label class="phone" style="background: none;">{{ 'MOBILE' | translate }} <span style="color: red">*</span></label>
                        <md-input-container class="md-block md-input">
                            <input required ng-model="data.phone" id='emp-phone' type="text"



                            ng-intl-tel-input class="md-input">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                            <label class="phone" style="background: none;">WhatsApp Number</label> <span style="color: red">*</span>                       
                        <md-input-container class="md-block">
                            <input required ng-model="data.whatsapp" id='emp-phone' type="text"



                            ng-intl-tel-input class="md-input">
                        </md-input-container>
                    </div>
                    </div>
                    <div class="col-md-12"> 
                    <div class="col-md-3" style="">
                            <label>{{ 'EMAIL' | translate }}</label><span style="color: red">*</span>         
                        <md-input-container class="md-block">
                            <input required type="email" name="email" id='emp-email' ng-model="data.email" ng-pattern="/^.+@.+\..+$/" />

                        </md-input-container>
                    </div> 
                    <!--  <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Data</label>
                            <input type="text" name="email" id='emp-email' ng-model="data.comments"  />

                        </md-input-container>
                    </div> -->
 <div class="col-md-3">
                            <label>{{ 'DATA' | translate }}</label>
                        <md-input-container class="md-block">
                            <input type="text" name="email" id='emp-email' ng-model="data.comments1"  />

                        </md-input-container>
                    </div>
 <div class="col-md-3">
                            <label>{{ 'DATA' | translate }}</label>
                        <md-input-container class="md-block">
                            <input  type="text" name="email" id='emp-email' ng-model="data.comments2" />

                        </md-input-container>
                    </div>
 <div class="col-md-3">
                            <label>{{ 'DATA' | translate }}</label>
                        <md-input-container class="md-block">
                            <input  type="text" name="email" id='emp-email' ng-model="data.comments3" />

                        </md-input-container>
                    </div>
                    </div>
                    <div class="col-md-12">
 <div class="col-md-3">
                            <label>{{ 'DATA' | translate }}</label>
                        <md-input-container class="md-block">
                            <input  type="text" name="email" id='emp-email' ng-model="data.comments4"  />

                        </md-input-container>
                    </div>
 <div class="col-md-3">
                            <label>{{ 'ACTIVE' | translate }}<span style="color: red">*</span></label>
                        <md-input-container class="md-block" style="-webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;" ng-style="act">
                            <md-select ng-change="valid3()" ng-model="data.active" ng-disabled ="is_delete" aria-label="select" id='emp-zipcode' >
                                <md-option value="false" > ACTIVE </md-option>
                                <md-option value="true"> DELETE </md-option>
                            </md-select>
                        </md-input-container>
                    </div>


                    <div class="col-md-3">
                            <label>{{ 'GBS' | translate }}<span style="color: red">*</span></label>
                        <md-input-container class="md-block" style="-webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;" ng-style="gbs">
                            <md-select ng-disabled='data.alive' ng-model="data.zipcode" aria-label="select" id='emp-zipcode' ng-change="valid2()">
                                <md-option ng-repeat="user in  gps_active track by $index" value="{{$index}}"> {{user}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>




                  <!--   <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> City </label>
                            <input  type="text" name="city" ng-model="data.city">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> State </label>
                            <input  type="text" name="state" ng-model="data.state">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Country </label>
                            <input  type="text" name="country" ng-model="data.country">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Zip Code </label>
                            <input  type="text" limitto="6" name="zip" ng-model="data.zipcode">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label>Phone ID </label>
                            <textarea ng-model="data.phone_imei" md-select-on-focus></textarea>
                        </md-input-container>
                    </div> -->
                    <div class="col-md-3">
                            <label>{{ 'STS' | translate }}</label>
                            <span style="color: red">*</span></label>
                        <md-input-container class="md-block">
                            <md-select ng-change="valid1()" ng-model="data.is_active" aria-label="select" ng-disabled="data.alive" id='emp-track-status' style="-webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f !important;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;" ng-style="zipcode">
                                <md-option ng-repeat="user in  active track by $index" value="{{$index}}"> {{user}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

</div>

  <div class="col-md-12" style="padding-left: 2.4%;">

 <label>{{ 'PER-ADD' | translate }}<span style="color: red">*</span></label>
                                            <md-input-container class="md-block">
                           
                            <textarea style="padding: 14px;" md-maxlength="1500"
                            ng-model="data.street" md-select-on-focus id='emp-address' required=""></textarea>
                        </md-input-container>

                    </div>
                    <div class="col-md-12" style="padding-left: 2.4%;">

                            <label>{{ 'TEMP-ADD' | translate }}</label>

                                            <md-input-container class="md-block">
                            <textarea  md-maxlength="1500"
                            ng-model="data.resaddress" style="padding: 14px;" md-select-on-focus id='emp-address'></textarea>
                        </md-input-container>

                    </div>
                    <div class="col-md-4" ng-hide="is_manager">
                        <md-input-container class="md-block">
                            <label>Role</label>
                            <md-select ng-model="data.role_id" id='emp-role-id' aria-label="select" required>
                                <md-option ng-repeat="role in roles" value="{{role.role_id}}"> {{role.desc}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                             



<!-- <div class="col-md-12 nopad" ng-show="data.role_id == 1 && !is_manager" >
                      <div class="col-md-3 ">
                        <md-input-container class="md-block">
                            <label>Belongs to Manager</label>
                            <md-select ng-model="data.belongs_manager" aria-label="select" >
                                <md-option ng-repeat="emp in managers " value="{{emp.user_id}}"> {{emp.last_name}}  {{emp.first_name}} </md-option>
                            </md-select>
                        </md-input-container>
                    </div>     </div>
 -->

                    <div class="col-md-12 nopad" style="padding-left: 2.4%;">
                        <div class="col-lg-4 col-md-4 pad8" ng-repeat="file in data.profile_image  track by $index">
                            <md-card>
                                <div class="md-media-lg card-media mdobj ">
                                    <a download="{{file}}" href="{{file}}" title="File" id='emp-download'>
                                        <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                    </a>
                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="FileDelete($index)" id='emp-remove'>Remove File </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                    <div class="col-md-12 nopad">
                        <h5>{{ 'EMPLOYEE' | translate }} {{ 'FILE-UPLOAD' | translate }}</h5>
                    </div>
                    <div class="col-md-12 nopad">


                  <lf-ng-md-file-input lf-api="lfApi"  name="files" lf-files="files" lf-mimetype="image/*"  lf-filesize="10MB" multiple>
                </lf-ng-md-file-input>


                    </div>
                    <div class="col-md-12">
                        <hr>
                         <md-button type="button" data-ng-click="closeform()" id='close' class="md-raised right wid btn-w-md md-primary">{{ 'CLOSE' | translate }}</md-button>
                        <md-button type="submit" ng-click="submit_form()" id='save' class="right wid md-raised btn-w-md md-primary" ng-if = 'add'>{{ 'SAVE' | translate }}</md-button ng-if = 'add'>

                        <md-button type="submit" ng-click="submit_form()" id='save' class="right wid md-raised btn-w-md md-primary" ng-if = '!add'>{{ 'UPDATE' | translate }}</md-button>
                   </div>
                </form>
            </div>
        </div>
    </article>
    <md-card>
        <md-content layout="column" flex>
                  
            <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex=40>
                        <label>Column</label>
                        <md-select ng-model="single.column" id='emp-update-date' ng-change="updateDataTable()">
                            <md-optgroup label="Column">
                                <md-option ng-value="column.name" ng-repeat="column in autocolumn">{{column.display}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex=40>
                        <label>Search</label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                    </md-input-container>
                    <md-button type="button" class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" id='emp-add-row' ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe>
            <md-table-container>
                <table md-table>
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus"></md-progress-linear>
                    <thead md-head md-order="query.order" style="background: #369490">
                        <tr md-row>
                            <th md-column ng-repeat="column in autocolumn" md-order-by="{{column.name}}" style="color:white;font-size: 16px">
                                <span>{{column.display}}</span>
                            </th>
                            <th md-column style="color:white;font-size: 16px">
                                <span>Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="row" md-select-id="name" md-auto-select ng-repeat="vim in datatable.data |filter : searchFish | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell id='emp-user-id'>{{vim.user_id}}</td>
                            <td md-cell id='emp-lastname'>{{vim.last_name}}</td>
                            <td md-cell id='emp-firstname'>{{vim.first_name}}</td>
                            <td md-cell id='emp-email'>{{vim.email}}</td>
                            <td md-cell id='emp-phone'>{{vim.phone}}</td>
                <!--             <td md-cell>
                            {{vim.role}}
                         </td> -->
                               <td md-cell>

                                 <md-button id='emp-rest-passwd' class="md-icon-button md-primary" data-ng-click="resetpwd(vim.user_id)" aria-label="mode_edit">
                                  <md-tooltip>
                            Reset Password
                        </md-tooltip>



    <img src="assets/images/action-lock.png" style="width: 55%">
                                </md-button>

                                <md-button class="md-icon-button md-primary" id='emp-resore' data-ng-click="update_info(vim.user_id)" aria-label="mode_edit">
                                  <md-tooltip>
                            Edit
                        </md-tooltip>
    <img src="assets/images/edit.png" style="width: 65%">
                                </md-button>
                                <md-button class="md-icon-button" data-ng-click="view(vim.user_id)" id='emp-edit-mode' aria-label="visibility" style="
    width: 80px;
">
                                  <md-tooltip>
                            View
                        </md-tooltip>
                                   <a style="
    color: white;
    background: green;
    font-size: 10px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border: coral;
    border-radius: 4px;
    text-decoration: none;
    ">VIEW</a>
                                </md-button>
                         <!--        <md-button class="md-icon-button  md-warn" data-ng-click="delete(vim.user_id)" aria-label="delete_forever">
                                  <md-tooltip>
                            Delete
                        </md-tooltip>
                                    <md-icon class="material-icons">delete_forever</md-icon>
                                </md-button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{datatable.data.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></md-table-pagination>
        </md-content>
    </md-card>
</section>
