<style type="text/css">
 .empimg {
    border: 0;
    width: 17%;
    float: left;
    margin: 16px
}   
p{
        margin-top: 20px !important;
}
.md-button.md-icon-button {
    margin: 0 6px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    height: 59px;
    width: 78px;
    border-radius: 50%;
}
</style>
<section class="container-fluid pad10" style="width: 85%;">
    <article class="article" ng-show="hide">
        <div flex-xs flex-gt-xs="100" layout="column">
            <md-card md-theme-watch>
                <h3 class="text-center">{{msg}}</h3>
            </md-card>
        </div>
    </article>
    <article class="article mrg1" ng-hide="hide">
        <md-toolbar class="backhead">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" onclick="globalapp.back()">
                    <md-tooltip>
                        Go Back
                    </md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 class="cauto">{{title}}</h2>
                <md-button class="md-icon-button" ng-click="edit()">
                    <md-tooltip>
                        Edit {{title}}
                    </md-tooltip>
                <img src="/assets/images/edit.png" class="empimg" style="width: 36%">                    
                </md-button>
              <!--   <md-button class="md-icon-button" ng-click="delete()">
                    <md-tooltip>
                        Delete {{title}}
                    </md-tooltip>
                    <md-icon>delete_forever</md-icon>
                </md-button> -->
            </div>
        </md-toolbar>
        <md-content layout-padding class="overfl" md-whiteframe="2">
            <div class="row">
                <div class="col-md-12" ng-if="complete">

                  <div class="col-md-4"><span><img src="/assets/images/employee-ID.png" class="empimg"></span><p ng-bind-html="view(data.user_id,'EMP ID')"></p></div>
                  <div class="col-md-4"><span><img src="/assets/images/first-and-last-name.png" class="empimg"></span><p ng-bind-html="view(data.first_name,'First Name')"></p></div>
                  <div class="col-md-4"><span><img src="/assets/images/first-and-last-name.png" class="empimg"></span><p ng-bind-html="view(data.last_name,'Last Name')"></p></div>
        <!--               <p ng-bind-html="view(data.role,'Role')"></p> -->
                  <div class="col-md-4"><span><img src="/assets/images/contact-no.png" class="empimg"></span><p ng-bind-html="view('' + data.phone,'Contact no')"></p></div>
                  <div class="col-md-4"><span><img src="/assets/images/status.png" class="empimg"></span><p ng-bind-html="view(active[data.is_active],'Status')"></p></div>

                  <div class="col-md-4"><span><img src="/assets/images/gps-tracking.png" class="empimg"></span><p ng-bind-html="view(active[data.zipcode],'Gps Tracking')"></p></div>
<!--                          <p ng-if="data.belongs_manager" ng-bind-html="view(data.belongs_manager,'Belongs Manager')" class="textup"></p> -->




                </div>

                   <div class="col-md-6" ng-if="complete">


<span><img src="/assets/images/address.png" class="empimg" style="width: 11%;
    margin-left: 32px"></span>
                <!--   <p ng-bind-html="view(data.phone_imei,'Phone ID')"></p>
 -->
                    <p ng-bind-html="view(data.street,'Address')" style="margin-top: -1em !important"></p>
    <!--               <p ng-bind-html="view(data.city,'City')"></p>
                  <p ng-bind-html="view(data.state,'State')"></p>
                  <p ng-bind-html="view(data.country,'Country')"></p>
                  <p ng-bind-html="view(data.zipcode,'Zip Code')"></p> -->


                </div>


 <div class="col-md-6" ng-show="doc">
                    
                    <span><img src="/assets/images/document&images.png" class="empimg" style="width: 11%;margin-left: 32px;"></span>
                    <h5 style="font-size: 15px">Documents / Images</h5>
                    <div class="col-lg-12 col-md-12" ng-repeat="file in data.profile_image  track by $index">
                        <md-card>
                            <div class="md-media-lg card-media mdobj ">
                                <a download="{{file}}" href="{{file}}" title="File">
                                    <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                </a>
                            </div>
                        </md-card>
   </div>
             <!--
                    </div>
                </div>

                              <div class="col-md-6" ng-show="cust">
                    <hr>
                    <h5>Belongs to Customers </h5>
                    <div class="col-lg-12 col-md-12">
                        <h4 class="upper" ng-repeat="custinfo in data.cust  track by $index" >
                         Name : {{custinfo.name}}
                        </h4>
                    </div>
                </div> -->





            </div>
        </md-content>
        </div>
    </article>
</section>
