
<style type="text/css">
   md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
    border-color: rgb(213,0,0) !important;
}
#emp-add-action>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -19px;
    padding-left: -15px;
    border-radius: 42px;
} 
#emp-add-action{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important
} 
.md-input-invalid{
border-color: rgb(213,0,0) !important;
}
</style>
<style>
    .md-datepicker-calendar-pane,.md-select-menu-container.md-active {
    z-index: 50000;
}

._md-datepicker-floating-label>md-datepicker .md-datepicker-button
{
    margin-top: -16px;
}

.pac-container
{
        z-index: 4000;
}


md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color:  rgb(224, 224, 224)
}

.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: rgb(224, 224, 224)
}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
    border-bottom-color:  rgb(224, 224, 224)
}

md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
    border-color: rgb(224, 224, 224)
}


md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color:black;
    color: black;
}


md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
       color: #aaaaaa;
}
/*md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
       color: #aaaaaa;
}
*/

 md-checkbox:not(.md-checked) .md-icon {
    border-color:  #aaaaaa;
}
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    border-color:  #aaaaaa;
}


md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: #00326a;
    font-size: 16px;
}
</style>
<md-dialog aria-label="Reports" style="     max-width: 90%;
    width: 90%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
               {{ 'TASK-DEL' | translate}}
             </h2>
            <span flex="">
            </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <article class="article" ng-hide="edit">
            <div class="box box-default">
                <div class="box-body form-validation">
<h5 style='color: blue'>
                        
                     PickUp Info
                    </h5>

<h5>
                        <md-icon>
                    perm_identity
                        </md-icon>
                 {{data.notes}}
                    </h5>
                    <h5>
                        <md-icon>
                    gps_fixed
                        </md-icon>
                 {{data.pick_address}}
                    </h5>
                    <h5>
                    <md-icon>
                            schedule
                        </md-icon>
                       {{data.schedule_date_time  | dateFill }}
                    </h5>


                    <h5 style='color: blue'>
                        
                     Customer Info
                    </h5>

<h5>
                        <md-icon>
                    perm_identity
                        </md-icon>
                 {{data.cust_name}}
                    </h5>

                    <h5>
                        <md-icon>
                     near_me
                        </md-icon>
                       {{data.cust_address}}
                    </h5>

                    
                    <h5>
                        <md-icon>
                            local_phone
                        </md-icon>
                     {{data.cust_phone}}
                    </h5>


                    <h5>
                    <md-icon>
                            schedule
                        </md-icon>
                       {{data.schedule_date_time  | dateFill }}
                    </h5>

                    <h5>
                        <md-icon>
                            gps_fixed
                        </md-icon>

                        <span ng-if="data.is_geo_fence == 1">
                      Geo Validation ({{data.geo_fence_meter}} Meters)
                        </span>
                        <span ng-if="data.is_geo_fence == 0">
                        No
                        </span>



                    </h5>
                    <h5>
                                            <md-icon>
                            book
                        </md-icon>
                        {{data.status}}
                    </h5>
                    <h5 ng-if="data.allocated_emp">

                                            <md-icon>
                           directions_bike
                        </md-icon>
                        {{data.allocated_emp}}
                    </h5>
                    <h5 ng-if="data.reviews">

                                            <md-icon>
                            perm_contact_calendar
                        </md-icon>
                        {{data.reviews}}
                    </h5>
                    <h5 ng-if="data.singature">
                                            <md-icon>
                            perm_contact_calendar
                        </md-icon>
                        {{data.signature}}
                    </h5>

<span ng-if="val.delivery_to">
<br>
Delivered To : {{data.delivery_to}}<br>
Mobile no : {{data.delivery_phone}}<br>
      </span>

<span ng-if="data.signature">
<br>

<img ng-src="{{data.signature}}" target="_blank" />

</span>
                </div>
            </div>
        </article>
        <article class="article" ng-show="edit">

<style type="text/css">
    md-backdrop.md-dialog-backdrop {
    z-index: 2;
}

.md-dialog-container {
    z-index: 51;
}
</style>
            <div class="box box-default">
                <div class="box-body form-validation">
                    <div class="row">
                        <form class="md-form-login form-validation" name="data_form1" novalidate="">

                        

                            <div class="col-md-12 ">
                                <div class="col-md-4">
                                    <label>
                                            {{ 'DEL-AT' | translate}}<span style="color: red">*</span>
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input id='add-tash-deleveryat' date-range-picker="" ng-disabled="data.tripstart" name="name" ng-change="dateCheck()" ng-model="datePicker" options="{  timePicker: true,
        timePickerIncrement: 5,
          singleDatePicker: true,
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        },
        autoApply: true,
        }

        " required="" type="text"/>
                                    </md-input-container>
                                </div>
                               <!--  <div class="col-md-4">
                                    <md-input-container class="md-block">
                                        <label>
                                            Pickup Location
                                        </label>
                                        <md-select id='add-tash-locationtype' aria-label="select" ng-change="emptyCustomerInfo()" ng-model="data.pickup" required="">
                                            <md-option ng-repeat="user in  pickup" ng-value="{{user.id}}">
                                                {{user.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div> -->
                                <div class="col-md-4">
                                    <label>
                                            {{ 'PICKUP-LOC' | translate}}<span style="color: red">*</span>
                                        </label>
                                    <md-input-container class="md-block" style="
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
">
                                        
                                        <input googleplace="" style ="border:none!important;background: none" ng-change="geocodeupdatelocpickup()" ng-model="data.pick_address" id='dash-cust-address'  required="true" type="text" value=data.picktime ng-readonly="data.tripstart" />


                                      <md-icon ng-click="showpickupmap = !showpickupmap" ng-show="showpickupmap" style="     margin-left: 90%;    color: #121213;
    margin-top: -6px">

                                  location_off
                                  <md-tooltip>
                                   Hide Map
                                  </md-tooltip>
                                      </md-icon>

                                        <md-icon ng-click="showpickupmap = !showpickupmap" ng-hide="showpickupmap" style="    color: #121213;
    margin-top: -6px" id='dash-location-on'>

                                        location_on

                                             <md-tooltip>
                                    Show Map
                                  </md-tooltip>
                                      </md-icon>
                                    </md-input-container>



                                </div>
                                
                                <div class="col-md-4" >
                                    <label>
                                            {{ 'ITEMS-DEL' | translate}}<span style="color: red">*</span>
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <textarea id='add-tash-items' ng-readonly="data.tripstart" md-maxlength="1500" md-select-on-focus="" required="" ng-model="data.notes">
                                        </textarea>
                                    </md-input-container>
                                </div>
                                <div class="col-md-1" ng-if = "sts">
                                    <img src='assets/images/Add_a35.png' data-ng-click="addtolist()" ng-hide="multipickup">
                                </div>
                                
                                <div class="col-md-12" ng-if="!add">
                                    <table border="0" style="margin: 1em;display: none;">
                                        <tr ng-repeat="x in data.records">
                                            
                                            <td style="width: 900px;padding: 11px">{{x.pic_loc}}
                                            </td>
                                            <td style="width: 20%;padding: 11px">{{x.pic_item}}</td>
                                            <td style="width: 5%;padding: 11px"><a ng-click = "editpickup($index)" style="cursor: pointer;"><md-icon class="ng-scope md-default-theme material-icons">
                                    mode_edit
                                </md-icon></a></td>
                                            <td style="width: 5%;padding: 11px"><a ng-click = "deletepickup($index)"  style="cursor: pointer;"><md-icon class="material-icons ng-scope">
                    close
                </md-icon></a></td>
                                        </tr>
                                    </table>

                                </div>
                                 <div class="col-md-12" ng-if="add">
                                    <table border="0" style="margin: 0.5em;display: none;">
                                        <tr ng-repeat="x in records">
                                            
                                            <td style="width: 900px;padding: 11px">{{x.pic_loc}}
                                            </td>
                                            <td style="width: 20%;padding: 11px">{{x.pic_item}}</td>
                                            <td style="width: 5%;padding: 11px"><a ng-click = "editpickup($index)" style="cursor: pointer;"><md-icon class="ng-scope md-default-theme material-icons">
                                    mode_edit
                                </md-icon></a></td>
                                            <td style="width: 5%;padding: 11px"><a ng-click = "deletepickup($index)"  style="cursor: pointer;"><md-icon class="material-icons ng-scope">
                    close
                </md-icon></a></td>
                                        </tr>
                                    </table>

                                </div>
                                 
                                <div class="col-md-4" style="display: none">
                                    <label><span style="color: red">*</span>
                                            {{ 'REC-NAME' | translate}}
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <textarea id='add-tash-items' ng-readonly="data.tripstart" md-maxlength="1500" md-select-on-focus="" required ng-model="data.notes">
                                        </textarea>
                                    </md-input-container>
                                </div>
                                  <div class="col-md-12">

                                    <div class="col-md-12 gmmap" ng-if="showpickupmap" style="    box-shadow: none; margin-bottom: 13px;">
                                        <gm-map options="{center: [data.pickup_ladd, data.pickup_long], zoom: mapzoom}">
                                            <gm-marker on-dragend="getpickuppos(marker.getPosition(),map.getZoom(),true)" options="{position:[data.pickup_ladd, data.pickup_long],draggable: true}">
                                            </gm-marker>
                                            

                                        </gm-map>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-12">
                                
                       
                                    
                                </span>
                                <div class="col-md-4">
                                    <label>
                                            {{ 'PICKUP-TIME' | translate}}<span style="color: red">*</span>
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input ng-disabled="data.tripstart" id='add-tash-pickupat' date-range-picker=""  name="name" ng-change="dateCheck()" ng-model="data.picktime" options="{  timePicker: true,
        timePickerIncrement: 5,
          singleDatePicker: true,
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        },
        autoApply: true,
        }

        " required="" type="text"/>
                                    </md-input-container>
                                </div>
                                
                                 <div class="col-md-4">
                                    <label>
                                            {{ 'ORDER-NO' | translate}}<span style="color: red">*</span>
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input name="orderid" required="" ng-readonly="data.tripstart" ng-model="data.order_id" type="text" id='dash-orderid'/>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4">
                                        <label>
                                                {{ 'REC-NAME' | translate}}<span style="color: red">*</span>
                                            </label>
                                        <md-input-container class="md-block">
                                            
                                            <input name="name" ng-readonly="data.tripstart" ng-model="data.cust_name" type="text" id='dash-cust-name' required="" />
                                        </md-input-container>
                                    </div>
                                
                                <div class="col-md-4">
                                    <label class="phone" style="background: none">
                                            {{ 'REC-NUM' | translate}}<span style="color: red">*</span>
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input name="name" ng-intl-tel-input="" id='add-dash-phoneno' ng-readonly="data.tripstart" ng-model="data.cust_phone" required="" type="text"/>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4" ng-if="data.type == 0">
                                    <label>
                                            {{ 'REC-EMAIL' | translate}}
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input name="email" ng-model="data.cust_email" ng-readonly="data.tripstart" id='dash-add-email' ng-pattern="email_rex"  type="email"/>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4">
                                     <label>
                                            {{ 'REC-ADDRESS' | translate}}<span style="color: red">*</span>
                                        </label>
                                    <md-input-container class="md-block" style="
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
">
                                       
                                        <input googleplace="" ng-change="geocodeupdateloc1()" ng-model="data.cust_address" id='dash-cust-address' required="true" style="border:none !important;background: none" ng-readonly="data.tripstart" type="text"/>


                                      <md-icon ng-click="showmap = !showmap" ng-show="showmap" style="     margin-left: 90%;color: #121213;
    margin-top: -6px">

                                  location_off
                                  <md-tooltip>
                                   Hide Map
                                  </md-tooltip>
                                      </md-icon>

                                        <md-icon ng-click="showmap = !showmap" ng-hide="showmap" style="color: #121213;
    margin-top: -6px" id='dash-location-on'>

                                        location_on

                                             <md-tooltip>
                                    Show Map
                                  </md-tooltip>
                                      </md-icon>
                                    </md-input-container>



                                </div>
                                  <div class="col-md-12" ng-if="data.type == 1 || data.type == 0">

                                    <div class="col-md-12 gmmap" ng-if="showmap" style="    box-shadow: none;margin-bottom: 13px; ">
                                        <gm-map options="{center: [data.loc_lat, data.loc_lng], zoom: mapzoom}">
                                            <gm-marker on-dragend="getpos(marker.getPosition(),map.getZoom(),true)" options="{position:[data.loc_lat, data.loc_lng],draggable: true}">
                                            </gm-marker>
                                        </gm-map>

                                    </div>
                                    
                                </div>
                                <div class="col-md-4" ng-if="data.type == 0">
                                    <label>
                                            {{ 'SPL-INS' | translate}}
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input name="text" ng-readonly="data.tripstart" ng-model="data.comments" id='dash-add-email' type="text"/>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4" ng-if="data.type == 0">
                                    <label>
                                            {{ 'PAY-MODE' | translate}}
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input name="text" ng-readonly="data.tripstart" ng-model="data.mob" id='dash-add-email' type="text"/>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4" ng-if="data.type == 0">
                                    <label>
                                            {{ 'SENT-NAME' | translate}}
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input name="email" ng-readonly="data.tripstart" ng-model="data.sender_name" id='dash-add-email' type="text"/>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4" ng-if="data.type == 0">
                                    <label class="phone"  style="background: none">
                                            {{ 'SENT-NUMBER' | translate}}<span style="color: red">*</span>
                                        </label>
                                    <md-input-container class="md-block">
                                        
                                        <input name="name" required="" ng-intl-tel-input data-default-country="in" id='add-dash-phoneno'  ng-readonly="data.tripstart" ng-model="data.sender_number" type="text" />
                                    </md-input-container>
                                </div>
                                <div class="col-md-4">
                                    <label>
                                        {{ 'SENT-ADD' | translate}}
                                        </label>
                                    <md-input-container class="md-block" style="
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
">
                                        
                                        <input style ="border:none !important;background: none" googleplace="" ng-change="geocodeupdatelocsender()" ng-model="data.sent_address" id='dash-cust-address'  ng-readonly="data.tripstart" type="text"/>


                                      <md-icon ng-click="sendshowmap = !sendshowmap" ng-show="sendshowmap" style="     margin-left: 90%;color: #121213;
    margin-top: -6px">

                                  location_off
                                  <md-tooltip>
                                   Hide Map
                                  </md-tooltip>
                                      </md-icon>

                                        <md-icon ng-click="sendshowmap = !sendshowmap" ng-hide="sendshowmap" style="color: #121213;
    margin-top: -6px" id='dash-location-on'>

                                        location_on

                                             <md-tooltip>
                                    Show Map
                                  </md-tooltip>
                                      </md-icon>
                                    </md-input-container>



                                </div>
                                
                                  <div class="col-md-4">
                                        <label>
                                                {{ 'SEC-STATUS' | translate}} <span style="color: red">*</span>
                                            </label>
                                        <md-input-container class="md-block" ng-show='data.tripstart' style="
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
">
                                            
                                            <md-select id='add-dash-userlist' aria-label="select" ng-model="data.status" required="" ng-show='data.tripstart' >
                                                <md-option ng-repeat="user in  schedule" ng-selected="{{ data.status === user ? 'true' : 'false' }}" value="{{user}}"  ng-hide="{{user == 'Unallocated' || user == 'Allocated' }}">
                                                    {{user}}
                                                </md-option>
                                            </md-select>
                                          
                                        </md-input-container >
                                        
                                        <md-input-container class="md-block" ng-hide='data.tripstart' style="
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
">
                                            
                                            <md-select id='add-dash-userlist' aria-label="select" ng-model="data.status" required="">
                                                <md-option ng-repeat="user in  schedule" ng-selected="{{ data.status === user ? 'true' : 'false' }}" value="{{user}}">
                                                    {{user}}
                                                </md-option>
                                            </md-select>
                                          
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-12 nopad" style="    margin-top: 15px;">
                                  <div class="col-md-4">
                                        <md-input-container class="md-block" ng-init="is_geo_fence = 1">
                                            <md-checkbox aria-label="Finished?" ng-false-value="0" ng-model="data.is_geo_fence" ng-true-value="1" id='add-dash-geoloc' ng-click="datadesel()" ng-checked="is_geo_fence">
                                                {{ 'GEO-LOC' | translate}}
                                            </md-checkbox>
                                        </md-input-container>
                                    </div>
                                    
                                     <div class="col-md-4" ng-if="data.is_geo_fence == 1" ng-init=data.geo_fence_meter="200">
                                        <label>
                                                {{ 'GEO-LOC-MET' | translate}}<span style="color: red">*</span>
                                            </label>
                                        <md-input-container class="md-block">
                                            
                                            <input min="150" ng-model="data.geo_fence_meter" required="" type="text"  ng-checked/>
                                        </md-input-container>
                                    </div>
                                   <div class="col-md-4" ng-if="(data.status != 'Unallocated') && (data.status != 'Canceled')">
                                        <label>
                                                To Employee
                                            </label><span style="color: red">*</span>
                                        <md-input-container class="md-block" style="
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
">
                                            
                                            <md-select aria-label="select" ng-model="data.emp" id='add-dash-user' ng-disabled="data.tripstart">
                                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                                    {{user.first_name}} {{user.last_name}} 
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    </div>
                                     
                              <div class="col-md-12 gmmap" ng-if="sendshowmap" style="    box-shadow: none;margin-bottom: 13px; ">
                                        <gm-map options="{center: [data.sent_ladd, data.sent_long], zoom: mapzoom}">
                                            <gm-marker on-dragend="getsenderpos(marker.getPosition(),map.getZoom(),true)" options="{position:[data.sent_ladd, data.sent_long],draggable: true}">
                                            </gm-marker>
                                        </gm-map>
                                    </div>
                                    
                                <button class="md-raised btn-w-md md-button md-ink-ripple" type="button" data-ng-click="addtolist()" style="float: right;display: none"><span class="ng-scope">
                                    Add Customer
                                </span><div class="md-ripple-container" style=""></div></button>
                                <!-- <div class="col-md-4" ng-if="(data.status != 'Unallocated') && (data.status != 'Canceled')">
                                        <md-input-container class="md-block">
                                            <label>
                                                To Employee
                                            </label>
                                            <md-select aria-label="select" ng-model="data.emp" id='add-dash-user' ng-disabled="data.tripstart">
                                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                                    {{user.last_name}} {{user.first_name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div> -->
                                <!-- <div class="col-md-12 nopad" style="    margin-top: 15px;">
                                    
                                  
                                    
                                                                             <div class="col-md-4" ng-if="(data.status != 'Unallocated') && (data.status != 'Canceled')">
                                        <label>
                                                To Employee
                                            </label>
                                        <md-input-container class="md-block">
                                            
                                            <md-select aria-label="select" ng-model="data.emp" id='add-dash-user' ng-disabled="data.tripstart">
                                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                                    {{user.first_name}} {{user.last_name}} 
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                </div> -->
                                
                            </div>
                            <div class="col-md-12" permission="" permission-only="['SUPERADMIN','ADMIN']">
                                <label>
                                        Allocated By Employee
                                    </label>
                                <md-input-container class="md-block">
                                    
                                    <md-select aria-label="select" ng-model="data.add_by">
                                        <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                           {{user.first_name}} {{user.last_name}} 
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <h4 class="text-center" style="color: red">
                                {{alert}}
                            </h4>
                            <div class="col-md-12">
                                <md-button ng-click="isSubscribed ? submit_form() : submit_form_multicustomer()"class="right wid md-raised btn-w-md md-primary" type="submit" ng-if="add" id="emp-add-action">
                                     {{ 'SAVE' | translate}}
                                 </md-button>
                                <md-button ng-click="submit_form()"class="right wid md-raised btn-w-md md-primary" type="submit" ng-if="!add" id="emp-add-action">
                                     {{ 'UPDATE' | translate}}
                                </md-button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </md-dialog-content>
</md-dialog>
<md-dialog-actions layout="row">
</md-dialog-actions>

