/*Date*/

md-dialog.dtp {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    max-height: none;
}


.dtp *:focus {
    outline: none !important;
}

.dtp table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.dtp .table > tbody > tr > td,
.dtp .table > tbody > tr > th,
.dtp .table > tfoot > tr > td,
.dtp .table > tfoot > tr > th,
.dtp .table > thead > tr > td,
.dtp .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.dtp, .dtp * {
    box-sizing: border-box !important;
}

.dtp > .dtp-content {
    max-width: 300px;
    max-height: 500px;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #689F38;
    color: #fff;
    text-align: center;
    padding: 3px;
}

.dtp div.dtp-date, .dtp div.dtp-time {
    background: #8BC34A;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.dtp div.dtp-date > div {
    padding: 0;
    margin: 0;
}

.dtp div.dtp-actual-month {
    font-size: 1.5em;
}

.dtp div.dtp-actual-num {
    font-size: 3em;
    line-height: 0.9;
}

.dtp div.dtp-actual-maxtime {
    font-size: 3em;
    line-height: 0.9;
}

.dtp div.dtp-actual-year {
    font-size: 1.6em;
    color: #DCEDC8;
}

.dtp div.dtp-year-btn {
    font-size: 1.4em;
    line-height: 30px;
    cursor: pointer;
    color: #DCEDC8;
}

.dtp div.dtp-year-btn-prev {
    text-align: right;
}


.dtp div.dtp-year-btn-next {
    text-align: left;
}

.dtp div.dtp-picker {
    padding: 10px;
    text-align: center;
}

.dtp div.dtp-picker-month, .dtp div.dtp-actual-time {
    font-weight: 500;
    text-align: center;
}

.dtp .dtp-close {
    position: absolute;
    top: 0.25em;
    right: 5px;
    font-size: 16px;
}

.dtp .dtp-close > a {
    color: #fff;
    text-decoration: none;
}

.dtp .dtp-close > a > i {
    font-size: 1em;
}

.dtp table.dtp-picker-days {
    margin: 0;
    min-height: 220px;
}

.dtp md-virtual-repeat-container.months {
    height: 260px;
}

.dtp table.dtp-picker-days, .dtp table.dtp-picker-days tr, .dtp table.dtp-picker-days tr > td {
    border: none;
}

.dtp table.dtp-picker-days tr > td {
    font-size: 11px;
    text-align: center;
    padding: 0;
}

.dtp table.dtp-picker-days tr > td > span.dtp-select-day {
    color: #BDBDBD !important;
}
.dtp table.dtp-picker-days tr > td > .dtp-select-day {
    width: 36px;
    height: 36px;
    display: inline-block;
}
.dtp table.dtp-picker-days tr > td > .dtp-select-day, .dtp .dtp-picker-time > a {
    color: #212121;
    text-decoration: none;
    padding: 10px;
    border-radius: 50% !important;
}

.dtp table.dtp-picker-days tr > td > a.selected {
    background: #8BC34A;
    color: #fff;
}

.dtp table.dtp-picker-days tr > td > a:hover:not(.selected) {
    background: #dddddd;
}

.dtp table.dtp-picker-days tr > th {
    color: #757575;
    text-align: center;
    font-weight: 700;
    padding: 4px 3px;
}

.dtp .p10 > a {
    color: #689F38;
    text-decoration: none;
}

.dtp .p10 {
    width: 10%;
    display: inline-block;
}

.dtp .p20 {
    width: 20%;
    display: inline-block;
}

.dtp .p60 {
    width: 60%;
    display: inline-block;
}

.dtp .p80 {
    width: 80%;
    display: inline-block;
}

.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm {
    position: relative;
    top: 10px;
    color: #212121;
    font-weight: 500;
    padding: 7px 5px;
    border-radius: 50% !important;
    text-decoration: none;
    background: #eee;
    font-size: 10px;
}

.dtp .dtp-actual-meridien a.selected {
    background: #689F38;
    color: #fff;
}

.dtp .dtp-picker-time > a {
    display: block;
    line-height: 23px;
    padding: 3px 3px 3px 3px;
}

.dtp .dtp-picker-time {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 1.1em;
    border-radius: 50%;
    cursor: pointer;
    text-align: center !important;
}

.dtp .dtp-picker-time > a.dtp-select-hour.selected {
    background: #689F38;
    color: #fff;
}

.dtp .dtp-picker-time > a.dtp-select-hour.disabled, .dtp .dtp-picker-time > a.dtp-select-minute.disabled {
    color: #757575;
}

.dtp .dtp-picker-time > a.dtp-select-minute.selected {
    background: #8BC34A;
    color: #fff;
}

.dtp div.dtp-picker-clock {
    margin: 10px 20px 0 20px;
    padding: 10px;
    border-radius: 50% !important;
    background: #eee;
}

.dtp-clock-center {
    width: 15px;
    height: 15px;
    background: #757575;
    border-radius: 50%;
    position: absolute;
    z-index: 50;
}

.dtp .dtp-hand, .dtp .dtp-hour-hand {
    position: absolute;
    width: 4px;
    margin-left: -2px;
    background: #BDBDBD;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: 1;
}

.dtp .dtp-minute-hand {
    width: 2px;
    margin-left: -1px;
}

.dtp .dtp-hand.on {
    background: #8BC34A;
}

.dtp .dtp-buttons {
    padding: 0 10px 10px 10px;
    text-align: right;
}

.dtp.hidden, .dtp .hidden {
    display: none;
}

.dtp .invisible {
    visibility: hidden;
}

.dtp .left {
    float: left;
}

.dtp .right {
    float: right;
}

.dtp .clearfix {
    clear: both;
}

.dtp .center {
    text-align: center;
}

/*App */
.z-depth-1{box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)}.z-depth-1-half{box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)}.page-auth .card,.z-depth-2{box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}.z-depth-3{box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)}.z-depth-4{box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)}.z-depth-5{box-shadow:0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)}.md-open-menu-container,.md-select-menu-container{z-index:1001}md-backdrop.md-dialog-backdrop{z-index:1040}.md-dialog-container{z-index:1041}md-toast{z-index:1070!important}md-menu-item>a:focus,md-menu-item>a:hover{color:rgba(0,0,0,.87)}.ui-md-radio-group-inline md-radio-button{display:inline-block;margin:0 10px 10px}md-radio-button[disabled] ._md-on{background-color:rgba(0,0,0,.25)}md-toast{position:fixed!important}.md-select-header .header-searchbox{border:none;outline:0;height:100%;width:100%;padding:0}.md-select-header .select-header{box-shadow:0 1px 0 0 rgba(0,0,0,.1),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);padding-left:10.67px;height:48px;cursor:pointer;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:auto}.md-select-header md-content._md{max-height:240px}.box-body>md-list{padding:0}.ui-md-list md-list-item ._md-list-item-inner>md-icon:first-child:not(.md-avatar-icon){margin:5px 25px 5px 0}.ui-md-list md-list-item.md-2-line{min-height:60px}.ui-md-list md-list-item.md-2-line>._md-no-style{min-height:60px;height:60px}.ui-md-list md-list-item.md-2-line .md-list-item-text h3{font-size:14px}.ui-md-list md-list-item.md-2-line .md-list-item-text p{font-size:12px}.theme-dark md-autocomplete,.theme-dark md-autocomplete.md-default-theme,.theme-gray md-autocomplete,.theme-gray md-autocomplete.md-default-theme{background-color:rgba(255,255,255,.1)}.theme-dark md-card,.theme-gray md-card{color:rgba(255,255,255,.7)}.theme-gray md-card{background-color:#4b4b4b}.theme-gray .md-subheader,.theme-gray .md-subheader.md-default-theme{background-color:#525252}.theme-dark md-card{background-color:#404b55}.theme-dark .md-subheader,.theme-dark .md-subheader.md-default-theme{background-color:#47535e}.theme-dark md-chips md-chip,.theme-dark md-chips.md-default-theme md-chip,.theme-gray md-chips md-chip,.theme-gray md-chips.md-default-theme md-chip{background-color:rgba(0,0,0,.1);color:rgba(255,255,255,.7)}.theme-dark md-content,.theme-dark md-content.md-default-theme,.theme-gray md-content,.theme-gray md-content.md-default-theme{color:rgba(255,255,255,.7)}.theme-dark md-content,.theme-dark md-content.md-default-theme{background-color:#404b55}.theme-gray md-content,.theme-gray md-content.md-default-theme{background-color:#4b4b4b}.theme-dark md-tabs{background-color:#404b55;border-color:red}.theme-gray md-tabs{background-color:#4b4b4b;border-color:red}md-toast.md-toast-primary>.md-toast-content{background-color:#2196F3}md-toast.md-toast-info>.md-toast-content{background-color:#00BCD4}md-toast.md-toast-success>.md-toast-content{background-color:#66BB6A}md-toast.md-toast-danger>.md-toast-content{background-color:#EF5350}.md-table-pagination .label{color:rgba(0,0,0,.54);font-size:14px;font-weight:400}.theme-dark .md-table-pagination .label,.theme-gray .md-table-pagination .label{color:rgba(255,255,255,.5)}.theme-dark .md-table-pagination,.theme-gray .md-table-pagination{color:rgba(255,255,255,.5)}.theme-dark .md-table-pagination md-select:not([disabled]):focus .md-select-value,.theme-gray .md-table-pagination md-select:not([disabled]):focus .md-select-value{color:rgba(255,255,255,.5)}.theme-dark md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default,.theme-dark md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default,.theme-gray md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default,.theme-gray md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default{background-color:transparent;color:rgba(255,255,255,.7)}.theme-dark md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default .md-button,.theme-dark md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default .md-button,.theme-gray md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default .md-button,.theme-gray md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default .md-button{color:rgba(255,255,255,.7)}.theme-dark md-toolbar.md-table-toolbar .md-toolbar-tools md-icon,.theme-gray md-toolbar.md-table-toolbar .md-toolbar-tools md-icon{color:rgba(255,255,255,.5)}.theme-dark table.md-table th.md-column,.theme-gray table.md-table th.md-column{color:rgba(255,255,255,.5)}.theme-dark table.md-table th.md-column md-icon.md-sort-icon,.theme-gray table.md-table th.md-column md-icon.md-sort-icon{color:rgba(255,255,255,.26)}.theme-dark table.md-table th.md-column.md-active,.theme-dark table.md-table th.md-column.md-active md-icon,.theme-gray table.md-table th.md-column.md-active,.theme-gray table.md-table th.md-column.md-active md-icon{color:rgba(255,255,255,.7)}.theme-dark table.md-table.md-row-select tbody.md-body>tr.md-row.md-selected,.theme-gray table.md-table.md-row-select tbody.md-body>tr.md-row.md-selected{background-color:rgba(0,0,0,.08)}.theme-dark table.md-table td.md-cell,.theme-gray table.md-table td.md-cell{color:rgba(255,255,255,.7)}.theme-dark table.md-table td.md-cell.md-placeholder,.theme-gray table.md-table td.md-cell.md-placeholder{color:rgba(255,255,255,.26)}.theme-dark table.md-table td.md-cell md-select>.md-select-value>span.md-select-icon,.theme-gray table.md-table td.md-cell md-select>.md-select-value>span.md-select-icon{color:rgba(255,255,255,.5)}md-backdrop.md-edit-dialog-backdrop{z-index:80}md-edit-dialog{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;position:fixed;z-index:81;background-color:#f9f9f9;border-radius:2px;cursor:default}md-edit-dialog>.md-content{padding:16px 24px 0}md-edit-dialog>.md-content .md-title{color:rgba(0,0,0,.87);margin-bottom:8px}md-edit-dialog>.md-content md-input-container{margin:0;font-size:13px}md-edit-dialog>.md-content md-input-container input{float:none}md-edit-dialog>.md-content md-input-container .md-errors-spacer{min-height:auto;min-width:auto;color:rgba(0,0,0,.54)}md-edit-dialog>.md-content md-input-container .md-errors-spacer .md-char-counter{padding:5px 2px 5px 0}md-edit-dialog>.md-content md-input-container [ng-message]{padding:5px 0 5px 2px}md-edit-dialog>.md-actions{margin:0 16px 8px}md-edit-dialog>.md-actions .md-button{margin:0;min-width:initial}md-edit-dialog>.md-actions .md-button+.md-button{margin-left:8px}.md-table-pagination{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-align:center;-webkit-box-align:center;align-items:center;-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;-ms-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse;box-sizing:border-box;padding:0 24px;font-size:12px;color:rgba(0,0,0,.54);border-top:1px rgba(0,0,0,.12) solid}.md-table-pagination md-select{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;min-width:64px}.md-table-pagination md-select:not([disabled]):focus .md-select-value{color:rgba(0,0,0,.54)}.md-table-pagination md-select .md-select-value{-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto}.md-table-pagination md-select .md-select-value span.md-select-icon{-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center;text-align:center;margin-right:-6px!important}.md-table-pagination md-select .md-select-value span.md-select-icon:after{top:initial;-webkit-transform:scaleY(.5) scaleX(1);transform:scaleY(.5) scaleX(1)}.md-table-pagination>*{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-align:center;-webkit-box-align:center;align-items:center;height:56px}.md-table-pagination>.buttons:not(:first-child),.md-table-pagination>.limit-select:not(:first-child){margin-left:32px}.md-table-pagination>.buttons{margin-right:-16px}.md-table-pagination>.buttons>.md-button.md-icon-button{margin:0}.md-table-pagination>.buttons>.label+.md-button.md-icon-button{margin-left:20px}md-select.md-table-select{margin:0}md-select.md-table-select>.md-select-value{padding:0;min-width:0;min-height:24px;border-bottom:0!important}md-select.md-table-select>.md-select-value>span{display:block;height:auto;-webkit-transform:none!important;transform:none!important}md-select.md-table-select>.md-select-value>span>.md-text{display:inherit;height:inherit;-webkit-transform:inherit;transform:inherit}md-select.md-table-select>.md-select-value>span.md-select-icon{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-align:center;-webkit-box-align:center;align-items:center;height:24px;margin:0}md-select.md-table-select>.md-select-value>span.md-select-icon:after{top:initial}.md-select-menu-container.md-pagination-select,.md-select-menu-container.md-table-select{margin-left:-2px;border-radius:2px}.md-select-menu-container.md-pagination-select md-content,.md-select-menu-container.md-pagination-select md-select-menu,.md-select-menu-container.md-table-select md-content,.md-select-menu-container.md-table-select md-select-menu{border-radius:inherit}.md-select-menu-container.md-pagination-select md-content,.md-select-menu-container.md-table-select md-content{padding:0}.md-select-menu-container.md-table-select .md-text{font-size:13px}.md-select-menu-container.md-pagination-select .md-text{font-size:12px}md-toolbar.md-table-toolbar{box-shadow:none}md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default,md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default{background-color:#fff;color:rgba(0,0,0,.87)}md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default .md-button,md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default .md-button{color:rgba(0,0,0,.87)}@media only screen and (max-width:959px) and (min-width:0) and (orientation:landscape){md-toolbar.md-table-toolbar .md-toolbar-tools{height:64px;max-height:initial}}md-toolbar.md-table-toolbar .md-toolbar-tools{padding:0 24px}md-toolbar.md-table-toolbar .md-toolbar-tools md-icon{color:rgba(0,0,0,.54)}md-toolbar.md-table-toolbar .md-toolbar-tools>.md-button.md-icon-button{margin:0}md-toolbar.md-table-toolbar .md-toolbar-tools>.md-button.md-icon-button:first-child{margin-left:-12px}md-toolbar.md-table-toolbar .md-toolbar-tools>.md-button.md-icon-button:last-child{margin-right:-12px}md-card>md-table-container:first-child,md-card>md-toolbar.md-table-toolbar:first-child{border-top-left-radius:2px;border-top-right-radius:2px}md-card>md-table-container:last-child,md-card>md-toolbar.md-table-toolbar:last-child{border-bottom-left-radius:2px;border-bottom-right-radius:2px}md-table-container{display:block;max-width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}table.md-table{width:100%;border-spacing:0;overflow:hidden}table.md-table thead.md-head>tr.md-row{height:56px}table.md-table tbody.md-body>tr.md-row,table.md-table tfoot.md-foot>tr.md-row{height:48px}table.md-table thead.md-head+.md-table-progress md-progress-linear{top:-3px}table.md-table .md-table-progress th{padding:0}table.md-table .md-table-progress th md-progress-linear{height:0;-webkit-transition:opacity 1s;transition:opacity 1s}table.md-table .md-table-progress th md-progress-linear.ng-hide{opacity:0}table.md-table .md-table-progress th md-progress-linear>.md-container{height:3px;top:0;-webkit-transition:none;transition:none}table.md-table .md-table-progress th md-progress-linear>.md-container>.md-bar{height:3px}table.md-table th.md-column{color:rgba(0,0,0,.54);font-size:12px;font-weight:700;white-space:nowrap}table.md-table th.md-column.md-sort{cursor:pointer}table.md-table th.md-column md-icon{height:16px;width:16px;font-size:16px!important;line-height:16px!important}table.md-table th.md-column md-icon.md-sort-icon{color:rgba(0,0,0,.26);opacity:0;transition:-webkit-transform .25s,opacity .25s;-webkit-transition:opacity .25s,-webkit-transform .25s;transition:opacity .25s,-webkit-transform .25s;transition:transform .25s,opacity .25s;transition:transform .25s,opacity .25s,-webkit-transform .25s}table.md-table th.md-column md-icon.md-sort-icon.md-asc{-webkit-transform:rotate(0);transform:rotate(0)}table.md-table th.md-column md-icon.md-sort-icon.md-desc{-webkit-transform:rotate(180deg);transform:rotate(180deg)}table.md-table th.md-column md-icon:not(:first-child){margin-left:8px}table.md-table th.md-column md-icon:not(:last-child){margin-right:8px}table.md-table th.md-column.md-active,table.md-table th.md-column.md-active md-icon{color:rgba(0,0,0,.87)}table.md-table th.md-column.md-active md-icon.md-sort-icon,table.md-table th.md-column:hover md-icon.md-sort-icon{opacity:1}table.md-table tr.md-row[data-ng-repeat].ng-leave,table.md-table tr.md-row[ng-repeat].ng-leave,table.md-table tr.md-row[ng\:repeat].ng-leave,table.md-table tr.md-row[x-ng-repeat].ng-leave{display:none}table.md-table.md-row-select tbody.md-body>tr.md-row{-webkit-transition:background-color .2s;transition:background-color .2s}table.md-table.md-row-select tbody.md-body>tr.md-row:not([disabled]):hover{background-color:rgba(0,0,0,.08)!important}table.md-table.md-row-select tbody.md-body>tr.md-row.md-selected{background-color:#f5f5f5}table.md-table.md-row-select td.md-cell:first-child,table.md-table.md-row-select th.md-column:first-child{width:20px;padding:0 0 0 24px}table.md-table.md-row-select td.md-cell:nth-child(2),table.md-table.md-row-select th.md-column:nth-child(2){padding:0 24px}table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2){padding:0 56px 0 0}table.md-table:not(.md-row-select) td.md-cell:first-child,table.md-table:not(.md-row-select) th.md-column:first-child{padding:0 24px}table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2){padding:0 56px 0 0}table.md-table td.md-cell,table.md-table th.md-column{vertical-align:middle;text-align:left}table.md-table td.md-cell>*,table.md-table th.md-column>*{vertical-align:middle}table.md-table td.md-cell:last-child,table.md-table th.md-column:last-child{padding:0 24px 0 0}table.md-table td.md-cell.md-clickable,table.md-table th.md-column.md-clickable{cursor:pointer}table.md-table td.md-cell.md-clickable:focus,table.md-table th.md-column.md-clickable:focus{outline:0}table.md-table td.md-cell.md-numeric,table.md-table th.md-column.md-numeric{text-align:right}table.md-table td.md-cell md-checkbox,table.md-table th.md-column md-checkbox{margin:0;width:20px}table.md-table td.md-cell{color:rgba(0,0,0,.87);font-size:13px;border-top:1px rgba(0,0,0,.12) solid}table.md-table td.md-cell.md-numeric md-select{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end}table.md-table td.md-cell.md-numeric md-select .md-select-value{-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto}table.md-table td.md-cell.md-placeholder{color:rgba(0,0,0,.26)}table.md-table td.md-cell md-select>.md-select-value>span.md-select-icon{-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end;color:rgba(0,0,0,.54);width:18px;text-align:right}table.md-table td.md-cell md-select>.md-select-value>span.md-select-icon:after{-webkit-transform:scaleY(.4) scaleX(.8);transform:scaleY(.4) scaleX(.8)}.ui-angular-wizard .steps{border:1px solid #e1e1e1;margin-bottom:3em;padding:0;border-radius:2px}.ui-angular-wizard .steps h2{font-size:18px;line-height:1;padding:1.2em 1em;margin:0;text-transform:uppercase;border-bottom:1px solid #e1e1e1}.ui-angular-wizard .ui-wizard-content{background-color:#fafafa;padding:3em 1em}.ui-angular-wizard .ui-wizard-actions{margin:0;padding:1.2em 1em;text-align:right;border-top:1px solid #e1e1e1}.steps-indicator{right:0;bottom:0;left:0;margin:10px 0 30px;padding:20px 0 30px;height:30px;list-style:none}.steps-indicator:before{background-color:rgba(0,0,0,.15);content:'';position:absolute;height:1px}.steps-indicator.steps-2:before{left:calc(100% / 2 / 2);right:calc(100% / 2 / 2)}.steps-indicator.steps-3:before{left:calc(100% / 3 / 2);right:calc(100% / 3 / 2)}.steps-indicator.steps-4:before{left:calc(100% / 4 / 2);right:calc(100% / 4 / 2)}.steps-indicator.steps-5:before{left:calc(100% / 5 / 2);right:calc(100% / 5 / 2)}.steps-indicator.steps-6:before{left:calc(100% / 6 / 2);right:calc(100% / 6 / 2)}.steps-indicator.steps-7:before{left:calc(100% / 7 / 2);right:calc(100% / 7 / 2)}.steps-indicator.steps-8:before{left:calc(100% / 8 / 2);right:calc(100% / 8 / 2)}.steps-indicator.steps-9:before{left:calc(100% / 9 / 2);right:calc(100% / 9 / 2)}.steps-indicator.steps-10:before{left:calc(100% / 10 / 2);right:calc(100% / 10 / 2)}.steps-indicator *{box-sizing:border-box}.steps-indicator li{position:relative;float:left;margin:0;padding:0;padding-top:10px;text-align:center;line-height:15px}.steps-indicator li a{color:grey;text-decoration:none;text-transform:uppercase;font-weight:700;-webkit-transition:.25s;transition:.25s;cursor:pointer}.steps-indicator li a:before{position:absolute;top:-7px;left:calc(50% - 7px);width:14px;height:14px;border-radius:100%;background-color:rgba(0,0,0,.15);content:'';-webkit-transition:.25s;transition:.25s}.steps-indicator li a:hover{color:#4d4d4d}.steps-indicator.steps-2 li{width:calc(100% / 2)}.steps-indicator.steps-3 li{width:calc(100% / 3)}.steps-indicator.steps-4 li{width:calc(100% / 4)}.steps-indicator.steps-5 li{width:calc(100% / 5)}.steps-indicator.steps-6 li{width:calc(100% / 6)}.steps-indicator.steps-7 li{width:calc(100% / 7)}.steps-indicator.steps-8 li{width:calc(100% / 8)}.steps-indicator.steps-9 li{width:calc(100% / 9)}.steps-indicator.steps-10 li{width:calc(100% / 10)}.steps-indicator.steps-11 li{width:calc(100% / 11)}.steps-indicator li.default{pointer-events:none}.steps-indicator li.default a:hover{color:grey}.steps-indicator li.current,.steps-indicator li.editing{pointer-events:none}.steps-indicator li.current a:before{background-color:grey}.steps-indicator li.done a:before{background-color:#66BB6A}.steps-indicator li.editing a:before{background-color:#2196F3}.ui-angular-wizard .steps{border-color:rgba(0,0,0,.15)}.ui-angular-wizard .steps h2{border-color:rgba(0,0,0,.15)}.ui-angular-wizard .ui-wizard-actions{border-color:rgba(0,0,0,.15)}.ui-angular-wizard .ui-wizard-content{background-color:rgba(0,0,0,.035)}.ui-editor .btn-group{margin-bottom:10px}.ta-hidden-input{width:1px;height:1px;border:none;margin:0;padding:0;position:absolute;top:-10000px;left:-10000px;opacity:0;overflow:hidden}.ui-editor .ta-root.focussed>.ta-scroll-window.form-control{border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}.ui-editor .ta-editor.ta-html,.ui-editor .ta-scroll-window.form-control{min-height:300px;height:auto;overflow:auto;font-family:inherit;font-size:100%}.ui-editor .ta-scroll-window.form-control{position:relative;padding:0}.ui-editor .ta-scroll-window>.ta-bind{height:auto;min-height:300px;padding:6px 12px}.ui-editor .ta-editor:focus{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.ui-editor .ta-resizer-handle-overlay{z-index:100;position:absolute;display:none}.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-info{position:absolute;bottom:16px;right:16px;border:1px solid #000;background-color:#FFF;padding:0 4px;opacity:.7}.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-background{position:absolute;bottom:5px;right:5px;left:5px;top:5px;border:1px solid #000;background-color:rgba(0,0,0,.2)}.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner{width:10px;height:10px;position:absolute}.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner-tl{top:0;left:0;border-left:1px solid #000;border-top:1px solid #000}.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner-tr{top:0;right:0;border-right:1px solid #000;border-top:1px solid #000}.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner-bl{bottom:0;left:0;border-left:1px solid #000;border-bottom:1px solid #000}.ui-editor .ta-resizer-handle-overlay>.ta-resizer-handle-corner-br{bottom:0;right:0;border:1px solid #000;cursor:se-resize;background-color:#fff}.ui-editor .popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:276px;padding:1px;font-size:14px;font-weight:400;line-height:1.42857143;text-align:left;white-space:normal;background-color:#fff;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;box-shadow:0 5px 10px rgba(0,0,0,.2)}.ui-editor .popover.top{margin-top:-10px}.ui-editor .popover.bottom{margin-top:10px}.ui-editor .popover-title{padding:8px 14px;margin:0;font-size:14px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.ui-editor .popover-content{padding:9px 14px}.ui-editor .popover>.arrow,.ui-editor .popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.ui-editor .popover>.arrow{border-width:11px}.ui-editor .popover>.arrow:after{content:"";border-width:10px}.ui-editor .popover.top>.arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}.ui-editor .popover.top>.arrow:after{bottom:1px;margin-left:-10px;content:" ";border-top-color:#fff;border-bottom-width:0}.ui-editor .popover.bottom>.arrow{top:-11px;left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25)}.ui-editor .popover.bottom>.arrow:after{top:1px;margin-left:-10px;content:" ";border-top-width:0;border-bottom-color:#fff}.fc{direction:ltr;text-align:left}.fc-rtl{text-align:right}body .fc{font-size:1em}.fc-view thead th{padding:4px}.fc-unthemed .fc-popover,.fc-unthemed .fc-row,.fc-unthemed hr,.fc-unthemed tbody,.fc-unthemed td,.fc-unthemed th,.fc-unthemed thead{border-color:#ddd}.fc-unthemed .fc-popover{background-color:#fff}.fc-unthemed .fc-popover .fc-header,.fc-unthemed hr{background:#eee}.fc-unthemed .fc-popover .fc-header .fc-close{color:#666}.fc-unthemed .fc-today{background:#fcf8e3}.fc-highlight{background:#bce8f1;opacity:.3;filter:alpha(opacity=30)}.fc-icon{display:inline-block;font-size:2em;line-height:.5em;height:.5em;font-family:"Courier New",Courier,monospace}.fc-icon-left-single-arrow:after{content:"\02039"}.fc-icon-right-single-arrow:after{content:"\0203A"}.fc-icon-left-double-arrow:after{content:"\000AB"}.fc-icon-right-double-arrow:after{content:"\000BB"}.fc-icon-x:after{content:"\000D7"}.fc button{margin:0;height:2.1em;padding:0 .6em;font-size:1em;white-space:nowrap;cursor:pointer}.fc button::-moz-focus-inner{margin:0;padding:0}.fc-state-default{border:1px solid}.fc-state-default.fc-corner-left{border-top-left-radius:4px;border-bottom-left-radius:4px}.fc-state-default.fc-corner-right{border-top-right-radius:4px;border-bottom-right-radius:4px}.fc button .fc-icon{position:relative;top:.05em;margin:0 .1em}.fc-state-default{background-color:#fff;color:#333}.fc-state-active,.fc-state-disabled,.fc-state-down,.fc-state-hover{color:#333;background-color:#e6e6e6;border-color:#adadad}.fc-state-active,.fc-state-down{background-image:none}.fc-state-disabled{cursor:default;background-image:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none}.fc-button-group{display:inline-block}.fc .fc-button-group>*{float:left;margin:0 0 0 -1px}.fc .fc-button-group>:first-child{margin-left:0}.fc-popover{position:absolute;box-shadow:0 2px 6px rgba(0,0,0,.15)}.fc-popover .fc-header{padding:2px 4px}.fc-popover .fc-header .fc-title{margin:0 2px}.fc-popover .fc-header .fc-close{cursor:pointer}.fc-ltr .fc-popover .fc-header .fc-title,.fc-rtl .fc-popover .fc-header .fc-close{float:left}.fc-ltr .fc-popover .fc-header .fc-close,.fc-rtl .fc-popover .fc-header .fc-title{float:right}.fc-unthemed .fc-popover{border-width:1px;border-style:solid}.fc-unthemed .fc-popover .fc-header .fc-close{font-size:25px;margin-top:4px}.fc-popover>.ui-widget-header+.ui-widget-content{border-top:0}.fc hr{height:0;margin:0;padding:0 0 2px;border-style:solid;border-width:1px 0}.fc-clear{clear:both}.fc-bg,.fc-helper-skeleton,.fc-highlight-skeleton{position:absolute;top:0;left:0;right:0}.fc-bg{bottom:0}.fc-bg table{height:100%}.fc table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;font-size:1em}.fc th{text-align:center}.fc td,.fc th{border-style:solid;border-width:1px;padding:0;vertical-align:top}.fc td.fc-today{border-style:double}.fc .fc-row{border-style:solid;border-width:0}.fc-row table{border-left:0 hidden transparent;border-right:0 hidden transparent;border-bottom:0 hidden transparent}.fc-row:first-child table{border-top:0 hidden transparent}.fc-row{position:relative}.fc-row .fc-bg{z-index:1}.fc-row .fc-highlight-skeleton{z-index:2;bottom:0}.fc-row .fc-highlight-skeleton table{height:100%}.fc-row .fc-highlight-skeleton td{border-color:transparent}.fc-row .fc-content-skeleton{position:relative;z-index:3;padding-bottom:2px}.fc-row .fc-helper-skeleton{z-index:4}.fc-row .fc-content-skeleton td,.fc-row .fc-helper-skeleton td{background:0 0;border-color:transparent;border-bottom:0}.fc-row .fc-content-skeleton tbody td,.fc-row .fc-helper-skeleton tbody td{border-top:0}.fc-scroller{overflow-y:scroll;overflow-x:hidden}.fc-scroller>*{position:relative;width:100%;overflow:hidden}.fc-event{position:relative;display:block;font-size:.85em;line-height:1.3;border-width:0 0 0 3px;border-style:solid;border-color:#00BCD4;border-radius:0;background-color:#fff;font-weight:400}.fc-event.fc-event-success{border-color:#66BB6A}.fc-event.fc-event-warning{border-color:#FFCA28}.fc-event.fc-event-danger{border-color:#EF5350}.fc-event,.fc-event:hover,.ui-widget .fc-event{color:rgba(0,0,0,.87);text-decoration:none}.fc-event.fc-draggable,.fc-event[href]{cursor:pointer}.fc-day-grid-event{margin:1px 2px 0;padding:4px 8px}.fc-ltr .fc-day-grid-event.fc-not-start,.fc-rtl .fc-day-grid-event.fc-not-end{margin-left:0;border-left-width:0;padding-left:1px;border-top-left-radius:0;border-bottom-left-radius:0}.fc-ltr .fc-day-grid-event.fc-not-end,.fc-rtl .fc-day-grid-event.fc-not-start{margin-right:0;border-right-width:0;padding-right:1px;border-top-right-radius:0;border-bottom-right-radius:0}.fc-day-grid-event>.fc-content{white-space:nowrap;overflow:hidden}.fc-day-grid-event .fc-time{font-weight:700}.fc-day-grid-event .fc-resizer{position:absolute;top:0;bottom:0;width:7px}.fc-ltr .fc-day-grid-event .fc-resizer{right:-3px;cursor:e-resize}.fc-rtl .fc-day-grid-event .fc-resizer{left:-3px;cursor:w-resize}a.fc-more{margin:1px 3px;font-size:.85em;cursor:pointer;text-decoration:none}a.fc-more:hover{text-decoration:underline}.fc-limited{display:none}.fc-day-grid .fc-row{z-index:1}.fc-more-popover{z-index:2;width:220px}.fc-more-popover .fc-event-container{padding:10px}.fc-toolbar{text-align:center;background-color:#00BCD4;color:#fff;padding:12px 8px;border-radius:2px 2px 0 0}.fc-toolbar .fc-left{float:left}.fc-toolbar .fc-right{float:right}.fc-toolbar .fc-center{display:inline-block}.fc-toolbar h2{margin:0;font-size:20px;font-weight:400;line-height:29px;text-transform:uppercase}.fc-toolbar button{position:relative}.fc-toolbar .fc-state-hover,.fc-toolbar .ui-state-hover{z-index:2}.fc-toolbar .fc-state-down{z-index:3}.fc-toolbar .fc-state-active,.fc-toolbar .ui-state-active{z-index:4}.fc-toolbar button:focus{z-index:5}.fc .fc-toolbar>*>*{float:left;margin-left:.75em}.fc .fc-toolbar>*>:first-child{margin-left:0}.fc-view-container *,.fc-view-container :after,.fc-view-container :before{box-sizing:content-box}.fc-view,.fc-view>table{position:relative;z-index:1}.fc-basicDay-view .fc-content-skeleton,.fc-basicWeek-view .fc-content-skeleton{padding-top:1px;padding-bottom:1em}.fc-basic-view tbody .fc-row{min-height:4em}.fc-row.fc-rigid{overflow:hidden}.fc-row.fc-rigid .fc-content-skeleton{position:absolute;top:0;left:0;right:0}.fc-basic-view .fc-day-number,.fc-basic-view .fc-week-number{padding:0 2px}.fc-basic-view td.fc-day-number,.fc-basic-view td.fc-week-number span{padding-top:2px;padding-bottom:2px}.fc-basic-view .fc-week-number{text-align:center}.fc-basic-view .fc-week-number span{display:inline-block;min-width:1.25em}.fc-ltr .fc-basic-view .fc-day-number{text-align:right}.fc-rtl .fc-basic-view .fc-day-number{text-align:left}.fc-day-number.fc-other-month{opacity:.3;filter:alpha(opacity=30)}.fc-agenda-view .fc-day-grid{position:relative;z-index:2}.fc-agenda-view .fc-day-grid .fc-row{min-height:3em}.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton{padding-top:1px;padding-bottom:1em}.fc .fc-axis{vertical-align:middle;padding:0 4px;white-space:nowrap}.fc-ltr .fc-axis{text-align:right}.fc-rtl .fc-axis{text-align:left}.ui-widget td.fc-axis{font-weight:400}.fc-time-grid,.fc-time-grid-container{position:relative;z-index:1}.fc-time-grid{min-height:100%}.fc-time-grid table{border:0 hidden transparent}.fc-time-grid>.fc-bg{z-index:1}.fc-time-grid .fc-slats,.fc-time-grid>hr{position:relative;z-index:2}.fc-time-grid .fc-highlight-skeleton{z-index:3}.fc-time-grid .fc-content-skeleton{position:absolute;z-index:4;top:0;left:0;right:0}.fc-time-grid>.fc-helper-skeleton{z-index:5}.fc-slats td{height:1.5em;border-bottom:0}.fc-slats .fc-minor td{border-top-style:dotted}.fc-slats .ui-widget-content{background:0 0}.fc-time-grid .fc-highlight-container{position:relative}.fc-time-grid .fc-highlight{position:absolute;left:0;right:0}.fc-time-grid .fc-event-container{position:relative}.fc-ltr .fc-time-grid .fc-event-container{margin:0 2.5% 0 2px}.fc-rtl .fc-time-grid .fc-event-container{margin:0 2px 0 2.5%}.fc-time-grid .fc-event{position:absolute;z-index:1}.fc-time-grid-event.fc-not-start{border-top-width:0;padding-top:1px;border-top-left-radius:0;border-top-right-radius:0}.fc-time-grid-event.fc-not-end{border-bottom-width:0;padding-bottom:1px;border-bottom-left-radius:0;border-bottom-right-radius:0}.fc-time-grid-event{overflow:hidden}.fc-time-grid-event>.fc-content{position:relative;z-index:2}.fc-time-grid-event .fc-time,.fc-time-grid-event .fc-title{padding:0 1px}.fc-time-grid-event .fc-time{font-size:.85em;white-space:nowrap}.fc-time-grid-event .fc-bg{z-index:1;background:#fff;opacity:.25;filter:alpha(opacity=25)}.fc-time-grid-event.fc-short .fc-content{white-space:nowrap}.fc-time-grid-event.fc-short .fc-time,.fc-time-grid-event.fc-short .fc-title{display:inline-block;vertical-align:top}.fc-time-grid-event.fc-short .fc-time span{display:none}.fc-time-grid-event.fc-short .fc-time:before{content:attr(data-start)}.fc-time-grid-event.fc-short .fc-time:after{content:"\000A0-\000A0"}.fc-time-grid-event.fc-short .fc-title{font-size:.85em;padding:0}.fc-time-grid-event .fc-resizer{position:absolute;z-index:3;left:0;right:0;bottom:0;height:8px;overflow:hidden;line-height:8px;font-size:11px;font-family:monospace;text-align:center;cursor:s-resize}.fc-time-grid-event .fc-resizer:after{content:"="}.theme-dark .fc-unthemed .fc-popover,.theme-dark .fc-unthemed .fc-row,.theme-dark .fc-unthemed hr,.theme-dark .fc-unthemed tbody,.theme-dark .fc-unthemed td,.theme-dark .fc-unthemed th,.theme-dark .fc-unthemed thead,.theme-gray .fc-unthemed .fc-popover,.theme-gray .fc-unthemed .fc-row,.theme-gray .fc-unthemed hr,.theme-gray .fc-unthemed tbody,.theme-gray .fc-unthemed td,.theme-gray .fc-unthemed th,.theme-gray .fc-unthemed thead{border-color:rgba(0,0,0,.08)}.theme-dark .fc-unthemed .fc-popover,.theme-gray .fc-unthemed .fc-popover{background-color:#fff}.theme-dark .fc-unthemed .fc-popover .fc-header,.theme-dark .fc-unthemed hr,.theme-gray .fc-unthemed .fc-popover .fc-header,.theme-gray .fc-unthemed hr{background:#eee}.theme-dark .fc-unthemed .fc-popover .fc-header .fc-close,.theme-gray .fc-unthemed .fc-popover .fc-header .fc-close{color:#666}.theme-dark .fc-unthemed .fc-today,.theme-gray .fc-unthemed .fc-today{background:#665C3E}.theme-dark .fc-highlight,.theme-gray .fc-highlight{background:#bce8f1;opacity:.3;filter:alpha(opacity=30)}.theme-dark .fc-event,.theme-gray .fc-event{background-color:rgba(255,255,255,.1);color:rgba(255,255,255,.7)}.typo-styles dt{display:block;float:left;color:#fff;background-color:rgba(0,0,0,.24);width:32px;height:32px;border-radius:16px;line-height:32px;text-align:center;font-weight:500;margin-top:5px}.typo-styles dd{display:block;margin-left:80px;margin-bottom:20px}.typo-styles .typo-styles__demo{margin-bottom:8px}.page-icons .card .fa,.page-icons .card .material-icons,.page-icons .card .wi{color:rgba(0,0,0,.5)}.page-icons .card .fa,.page-icons .card .wi{font-size:20px;margin:5px}.theme-dark .page-icons .card .fa,.theme-dark .page-icons .card .material-icons,.theme-dark .page-icons .card .wi,.theme-gray .page-icons .card .fa,.theme-gray .page-icons .card .material-icons,.theme-gray .page-icons .card .wi{color:rgba(255,255,255,.7);opacity:.7}.page-grids .grid-structure .row{margin-top:10px}.page-grids .grid-structure .row .widget-container{margin-top:5px;background:rgba(0,0,0,.1);padding:10px 15px 12px;font-size:12px;min-height:0;border-radius:2px}.color-palette{color:rgba(255,255,255,.87);font-size:14px;font-weight:500;padding-bottom:60px}.color-palette ul{margin:0;padding:0}.color-palette .dark{color:rgba(0,0,0,.87)}.color-palette .color-group{padding-bottom:40px}.color-palette .color-group:first-child,.color-palette .color-group:last-child:first-child,.color-palette .color-group:last-child:nth-of-type(3n+1),.color-palette .color-group:nth-of-type(3n+1){clear:left;margin-left:0}.color-palette .color-group li.divide,.color-palette .color-group:last-child li.divide{border-top:4px solid #fafafa}.color-palette .color-group li.color,.color-palette .color-group:last-child li.color{padding:15px}.color-palette .color-group li,.color-palette .color-group:last-child li{list-style-type:none}.color-palette .color-group li.main-color,.color-palette .color-group:last-child li.main-color{border-bottom:4px solid #fafafa}.color-palette .color-group li.main-color .name,.color-palette .color-group:last-child li.main-color .name{display:block;margin-bottom:60px}.color-palette .color-group li.color .hex,.color-palette .color-group:last-child li.color .hex{float:right;text-transform:uppercase}.whiteframedemoBasicUsage md-whiteframe{background:#fff;margin:30px;height:100px}@media screen and (max-width:599px){.whiteframedemoBasicUsage md-whiteframe{margin:7px;height:50px;background-color:#c8e4fa}.whiteframedemoBasicUsage md-whiteframe>span{font-size:.4em}}@media screen and (min-width:600px) and (max-width:959px){.whiteframedemoBasicUsage md-whiteframe{margin:20px;height:75px}.whiteframedemoBasicUsage md-whiteframe>span{font-size:.6em}}@media screen and (min-width:960px) and (max-width:1199px){.whiteframedemoBasicUsage md-whiteframe{margin:20px;height:90px;background-color:#fcddde}.whiteframedemoBasicUsage md-whiteframe>span{font-size:.9em}}@media screen and (min-width:1200px){.whiteframedemoBasicUsage md-whiteframe{margin:25px;height:100px;background-color:#F2FCE2}.whiteframedemoBasicUsage md-whiteframe>span{font-size:1em}}.radioButtondemoMultiColumn md-divider{margin:0 -15px}.radioButtondemoMultiColumn div.radioDemo2{margin-bottom:20px}.radioButtondemoMultiColumn h2{margin-left:15px}.radioButtondemoMultiColumn p{width:400px;margin-top:10px;margin-left:10px;padding-top:10px;border-top:2px solid #ddd}.radioButtondemoMultiColumn button.md-raised,.radioButtondemoMultiColumn md-button.md-raised{width:200px}.radioButtondemoMultiColumn div.row:last-child{border-bottom:0 dashed #ddd}.radioButtondemoMultiColumn .summary{width:100%;padding-top:10px;margin-left:25px;margin-top:20px;margin-bottom:-5px}.radioButtondemoMultiColumn .title{font-weight:bolder}.radioButtondemoMultiColumn .selectedUser .md-checked{padding:8px;width:100px}.radioButtondemoMultiColumn div.md-checked{background-color:rgba(0,188,212,.1);border-radius:2px}.radioButtondemoMultiColumn .row{border-bottom:1px dashed rgba(0,0,0,.15)}.md-form-auth md-input-container.md-icon-left{padding-left:40px}.md-form-auth md-input-container>md-icon{color:#999;margin-top:-5px}.md-form-auth a[type=submit],.md-form-auth button[type=submit]{margin-right:0}.page-auth{background-color:#eee;min-height:100%;background:url(../assets/images/background/1.png) no-repeat center center fixed;background-size:cover;padding:0 10px}.page-auth .card{padding:40px 30px}.page-auth .logo{padding-left:36px;font-size:32px;margin-bottom:1.3em}.page-auth .logo.text-center{padding:0}.page-auth .logo a{font-weight:400;text-decoration:none}.page-auth .main-body{position:relative;max-width:480px;margin:0 auto;padding:50px 0 20px}@media (min-width:768px){.page-auth .main-body{padding-top:150px}}.page-auth .additional-info{color:#777;background-color:rgba(0,0,0,.04);padding:10px 6px;position:absolute;bottom:0;left:0;right:0;text-align:center;font-size:12px}.page-auth .additional-info a{color:#777}.page-auth .additional-info .divider-h{border-right:1px solid rgba(0,0,0,.1);margin:0 15px}.page-auth.page-confirm-email .logo{font-size:24px;margin-bottom:.8em}.page-auth .confirm-mail-icon{text-align:center}.page-auth .confirm-mail-icon .material-icons{color:#777;font-size:100px}.page-err{background-color:#333C44;height:100%;position:relative}.page-err .err-container{padding:45px 10px 0}@media (min-width:768px){.page-err .err-container{padding:100px 0 0}}.page-err .err{color:#fafafa}.page-err .err h1{margin-bottom:35px;color:#fafafa;color:rgba(255,255,255,.8);font-size:150px;font-weight:300;text-shadow:2px 2px 5px rgba(0,0,0,.2)}@media (min-width:768px){.page-err .err h1{font-size:180px}}.page-err .err h2{color:#fafafa;color:rgba(255,255,255,.6);margin:0;font-weight:300;font-size:28px;text-transform:uppercase}@media (min-width:768px){.page-err .err h2{font-size:36px}}.page-err .err-body{padding:20px 10px}.page-err .btn-goback{color:#fff;color:rgba(255,255,255,.8);background-color:transparent;border-color:#fff;border-color:rgba(255,255,255,.8)}.page-err .btn-goback.active,.page-err .btn-goback:active,.page-err .btn-goback:focus,.page-err .btn-goback:hover{color:#fff;background-color:rgba(255,255,255,.1)}.open .page-err .btn-goback.dropdown-toggle{color:#fff;background-color:rgba(255,255,255,.1)}.page-err .footer{position:absolute;bottom:20px;width:100%}.page-lock{height:100%;background:url(../assets/images/background/1.png) no-repeat center center fixed;background-size:cover}.page-lock .lock-centered{position:absolute;top:50%;left:0;right:0;margin-top:-65px}@media screen and (min-width:768px){.page-lock .lock-centered{margin-top:-75px}}.page-lock .lock-container{position:relative;max-width:420px;margin:0 auto}.page-lock .lock-box{position:absolute;left:0;right:0}.page-lock .lock-box .lock-user{background:#fff;width:50%;float:left;height:50px;line-height:50px;margin-top:50px;padding:0 20px;border-left-radius:2px 0 0 2px;color:#777}.page-lock .lock-box .lock-img img{position:absolute;border-radius:50%;left:40%;width:80px;height:80px;border:6px solid #fff;background:#fff}@media screen and (min-width:768px){.page-lock .lock-box .lock-img img{left:33%;width:150px;height:150px;border:10px solid #fff}}.page-lock .lock-box .lock-pwd{background:#fff;width:50%;float:right;height:50px;line-height:50px;padding:0 0 0 50px;margin-top:50px;border-right-radius:0 2px 2px 0;color:#2196F3}@media screen and (min-width:768px){.page-lock .lock-box .lock-pwd{padding:0 0 0 80px}}.page-lock .lock-box .lock-pwd input{width:80%;height:50px;color:#555;border:0}.page-lock .lock-box .lock-pwd .btn-submit{position:absolute;top:50%;right:20px;color:rgba(0,0,0,.87)}.page-lock .lock-box .lock-pwd .btn-submit .material-icons{line-height:50px;height:50px}.page-profile{margin:-15px 0 0}.page-profile .profile-header{position:relative;margin:0 -30px 15px;padding:50px 30px 90px;background:url(../assets/images//background/1.png) no-repeat center center fixed;background-size:cover}.page-profile .profile-img{display:inline-block;margin-right:20px}.page-profile .profile-img img{max-width:120px;height:auto;box-shadow:0 0 0 5px rgba(255,255,255,.5),0 0 10px rgba(0,0,0,.2)}.page-profile .profile-social{display:inline-block}.page-profile .profile-social>a{margin-right:15px;box-shadow:0 0 5px rgba(0,0,0,.2)}.page-profile .profile-info{position:absolute;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.3);line-height:20px;padding:10px 30px;color:#fafafa}.page-profile .profile-info ul{margin:0}.page-profile img.media-object{border-radius:2px}.page-invoice{color:rgba(0,0,0,.87)}.page-invoice .invoice-wrapper{padding:0 0 30px;background-color:#fff}.invoice-inner{padding:15px 15px 30px;background-color:#fff}.invoice-inner .invoice-sum li{margin-bottom:5px;padding:10px;background-color:rgba(0,0,0,.05);border-radius:2px}.invoice-inner .table.table-bordered{border:0}.invoice-inner .table .bg-dark>th{border:0}.page-dashboard h3{font-size:22px;font-weight:400;line-height:1;margin:0 0 30px}.page-dashboard .sm-charts{margin:0 auto}.box-info{text-align:center;padding-top:20px;padding-bottom:20px}.box-info.no-border .box-num{border:0}.box-info .box-icon{margin-bottom:1rem}.box-info .box-icon .material-icons{font-size:52px;color:rgba(51,60,68,.54)}.box-info .box-desc h6{margin:0;font-size:14px;line-height:26px;color:#A5AEB1;text-transform:uppercase}@media screen and (min-width:768px){.box-info .box-desc{border-right:2px solid rgba(0,0,0,.05)}}.box-info .box-num{font-size:38px;line-height:2em;font-weight:300;color:rgba(0,0,0,.6)}.theme-dark .box-info .box-icon .material-icons,.theme-gray .box-info .box-icon .material-icons{color:rgba(255,255,255,.54)}.theme-dark .box-info .box-num,.theme-gray .box-info .box-num{color:rgba(255,255,255,.54)}.page-maintenance .top-header{padding:1em 0;border-bottom:1px solid rgba(0,0,0,.1);font-size:32px;line-height:1}.page-maintenance .top-header a.logo{text-decoration:none;color:rgba(0,0,0,.87)}.page-maintenance .content{max-width:1170px;margin:50px auto 0}.page-maintenance .main-content{margin-bottom:80px}.page-maintenance .main-content h1{text-transform:uppercase;font-size:32px;margin-bottom:15px}.page-maintenance .main-content p{font-size:22px}.page-about .hero.hero-bg-img{background-size:cover;padding:0}.page-about .hero .hero-inner{background-color:rgba(0,0,0,.15);padding:90px 0}.page-about .hero .hero-tagline,.page-about .hero .hero-title{color:#fff}.page-about .stat-container{margin-bottom:30px}.page-about .stat-container .stat-item{margin-bottom:20px;border-bottom:2px solid #f5f5f5}.page-about .stat-container .stat-num{display:block;color:#2196F3;font-size:72px;font-weight:300;line-height:66px}.page-about .stat-container .stat-desc{display:inline-block;margin-bottom:-2px;padding-bottom:20px;border-bottom:2px solid #2196F3;font-size:20px;line-height:22px;font-weight:700}.page-about .article:nth-of-type(1){padding-top:75px}.page-about .space-bar{padding:3px;border-radius:2px;margin-right:5px}.page-terms h4{margin-top:2em;font-size:16px;font-weight:500;text-transform:uppercase}.blog-item{border-top:1px solid rgba(0,0,0,.117647);margin-top:70px;padding:70px 0 10px}.blog-item:first-child{border-top:0;padding-top:0;margin-top:0}.blog-item h2{font-size:35px;line-height:1}.blog-item h2 a{color:rgba(0,0,0,.87);font-weight:300;text-decoration:none}.blog-item .blog-info{margin:10px 0}.blog-item .blog-info>span{margin-right:8px}.blog-item .blog-info .avatar{width:30px;height:auto;border-radius:50%}.blog-item .blog-info .date{opacity:.7}.blog-item .blog-info .category{display:inline-block;text-transform:uppercase;font-size:12px;padding:2px 5px;border-radius:2px;background-color:rgba(0,0,0,.08)}.blog-item .blog-info .category a{color:rgba(0,0,0,.87);text-decoration:none;opacity:.7}.blog-item .desc{font-size:16px;opacity:.7}.theme-dark .blog-item h2 a,.theme-gray .blog-item h2 a{color:rgba(255,255,255,.7)}.theme-dark .blog-item .blog-info .category a,.theme-gray .blog-item .blog-info .category a{color:rgba(255,255,255,.7)}.page-with-tabs>.page-title{background-color:rgba(0,0,0,.05);padding:30px 15px 30px 39px}.page-with-tabs>.page-title h2{margin:0;font-size:20px;line-height:1;font-weight:500;color:#2196F3}.page-with-tabs>md-tabs{background-color:inherit}.page-with-tabs>md-tabs>md-tabs-wrapper{padding:0 15px;background-color:rgba(0,0,0,.05)}.page-with-tabs>md-tabs>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-ink-bar{color:#2196F3;background:#2196F3}.page-with-tabs>md-tabs>md-tabs-content-wrapper>md-tab-content{padding:15px}.page-tasks .add-task a.submit-button{color:rgba(0,0,0,.3)}.page-tasks .nav-tabs>li.active>a,.page-tasks .nav-tabs>li.active>a:focus,.page-tasks .nav-tabs>li.active>a:hover{background-color:#f5f5f5}.page-tasks .task-list .view{background-color:#fff}.page-tasks .task-list .view .icon-edit,.page-tasks .task-list .view .icon-remove{color:rgba(0,0,0,.3)}.page-tasks .task-list .view .icon-edit:hover,.page-tasks .task-list .view .icon-remove:hover{color:#333}.page-tasks .task-list .completed .view label{color:rgba(0,0,0,.3)}.page-tasks .task-footer{border-top:4px double rgba(0,0,0,.1)}.page-tasks .task-footer .clear-completed{color:rgba(0,0,0,.3)}.page-tasks .task-footer .clear-completed:hover{color:rgba(0,0,0,.87)}.theme-dark .task-list .view,.theme-gray .task-list .view{background-color:rgba(255,255,255,.08)}.theme-dark .task-list .view .icon-edit,.theme-dark .task-list .view .icon-remove,.theme-gray .task-list .view .icon-edit,.theme-gray .task-list .view .icon-remove{color:rgba(0,0,0,.3)}.theme-dark .task-list .view .icon-edit:hover,.theme-dark .task-list .view .icon-remove:hover,.theme-gray .task-list .view .icon-edit:hover,.theme-gray .task-list .view .icon-remove:hover{color:#333}.theme-dark .task-list .completed .view label,.theme-gray .task-list .completed .view label{color:rgba(0,0,0,.3)}.theme-gray .nav-tabs>li.active>a,.theme-gray .nav-tabs>li.active>a:focus,.theme-gray .nav-tabs>li.active>a:hover{background-color:#424242}.theme-dark .nav-tabs>li.active>a,.theme-dark .nav-tabs>li.active>a:focus,.theme-dark .nav-tabs>li.active>a:hover{background-color:#38424b}.page-tasks .material-icons:focus,.page-tasks label:focus{outline:0}.page-tasks .material-icons{font-size:16px;line-height:20px}.page-tasks .task-list .view{display:block}.page-tasks .task-list .edit{display:none}.page-tasks .task-list li.editing .view{display:none}.page-tasks .task-list li.editing .edit{display:block}.page-tasks .add-task{position:relative}.page-tasks .add-task input{height:44px;padding:6px 12px 6px 40px}.page-tasks .add-task a.submit-button{position:absolute;top:12px;left:12px}.page-tasks label{font-weight:400}.page-tasks .filters{margin:15px 0}.page-tasks .task-list .view{position:relative;margin-bottom:10px;padding:0 12px 0 40px;border-radius:2px;box-shadow:0 0 1px rgba(0,0,0,.2)}.page-tasks .task-list .view:hover .icon-edit,.page-tasks .task-list .view:hover .icon-remove{display:block}.page-tasks .task-list .view input[type=checkbox]{position:absolute;top:11px;left:16px}.page-tasks .task-list .view label{line-height:20px;margin:0;width:100%;padding:12px 0 12px}.page-tasks .task-list .view .icon-edit,.page-tasks .task-list .view .icon-remove{display:none;position:absolute;top:14px;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}.page-tasks .task-list .view .icon-edit:hover,.page-tasks .task-list .view .icon-remove:hover{cursor:pointer;-webkit-transform:scale(1.3);transform:scale(1.3)}.page-tasks .task-list .view .icon-edit{right:40px}.page-tasks .task-list .view .icon-remove{right:16px}.page-tasks .task-list .completed .view label{text-decoration:line-through}.page-tasks .task-list input.edit{margin-bottom:10px;height:44px;padding:6px 12px 6px 40px}.page-tasks .task-footer{margin:15px 0;padding:12px}.page-tasks .task-footer .list-inline>li{float:left;width:30%}.page-tasks .task-footer .list-inline>li.first-item{width:40%}.page-tasks .task-footer .clear-completed{border-radius:2px;-webkit-transition:color,.2s ease-in-out;transition:color,.2s ease-in-out}.page-tasks .task-footer .clear-completed:hover{cursor:pointer}.page-tasks .tips h3{margin-top:0}#mail{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:100%}#mail .mail-sidenav{z-index:59;width:240px;min-width:240px}#mail .mail-list-container,#mail .mail-read-container{-webkit-box-flex:1;-ms-flex:1;flex:1}#mail .mail-sidenav{height:calc(100vh - 104px);overflow:hidden}#mail .mail-list-content,#mail .mail-read-content{height:calc(100vh - 164px);overflow:hidden}.toolbar{position:relative;background-color:#fff;width:100%}.list-toolbar{padding:10px 16px 10px 26px}.read-toolbar{padding:10px 15px 10px 15px}#mail .mail-sidenav{padding:0;border-right:1px solid #555}#mail .mail-sidenav md-list-item._md-button-wrap>div.md-button:first-child{padding:0 25px}#mail .mail-sidenav.md-locked-open .header{color:#FFF}#mail .mail-sidenav.md-locked-open .header .logo{padding-top:27px}#mail .mail-sidenav.md-locked-open .header .logo .logo-icon md-icon{color:#FFF}#mail .mail-sidenav:not(.md-locked-open) .header{height:150px;min-height:150px;max-height:150px;padding-top:24px}#mail .compose-btn-container{padding:16px 25px}#mail .compose-btn-container .md-button{margin:0}#mail .avatar{display:inline-block;width:32px;height:32px;line-height:32px;border-radius:50%;margin-right:8px;background-color:rgba(0,0,0,.15);text-align:center}#mail .mail-list-container{border-right:1px solid rgba(0,0,0,.15)}#mail .mail-list{padding:0}#mail .mail-list-item{border-bottom:1px solid rgba(0,0,0,.15)}#mail .mail-list-item:last-child{border-bottom:0}#mail .mail-list-item.unread{background-color:rgba(255,255,255,.2)}#mail .mail-list-item.unread .message,#mail .mail-list-item.unread .subject{font-weight:500}#mail .mail-list-item.selected{background:rgba(0,188,212,.1)}#mail .mail-list-item.checked{background-color:rgba(255,202,40,.1)}#mail .mail-list-item .md-secondary-container{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;min-width:40px}#mail .mail-list-item .md-secondary-container .md-secondary{margin:0 6px 0 0}#mail .mail-list-item .md-secondary-container .md-button.md-icon-button{padding:10px}#mail .mail-list-item .md-list-item-text{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;margin:15px 0}#mail .mail-list-item .md-list-item-text:focus{outline:0}#mail .mail-list-item .name{font-size:15px;font-weight:500;padding-bottom:8px}#mail .mail-list-item .name .has-attachment{margin-left:8px;-webkit-transform:rotate(90deg);transform:rotate(90deg)}#mail .mail-list-item .subject{text-overflow:ellipsis}#mail .mail-list-item .message{opacity:.7}#mail .mail-list-item .email-time{margin:0 8px;font-size:12px;opacity:.6;line-height:32px}#mail .mail-content{padding:0 15px}#mail .mail-content .mail-header{border-bottom:1px solid rgba(0,0,0,.15)}#mail .mail-content .mail-header .subject{font-size:20px;line-height:30px;padding:30px 0;font-weight:500}#mail .mail-content strong{font-weight:500}#mail .mail-content .info{margin-bottom:25px;padding:8px 0;border-bottom:1px solid rgba(0,0,0,.15)}#mail .mail-content .to-text{opacity:.7;font-style:italic}#mail .mail-content .email-time{margin-left:10px}#mail .mail-content .attachments{padding:24px 0;border-top:1px solid rgba(0,0,0,.12)}#mail .mail-content .attachments .title{margin-bottom:16px;font-weight:500}#mail .mail-content .attachments .attachment .preview{width:100px;margin:0 16px 8px 0}#mail .mail-content .attachments .attachment .link{margin-bottom:2px}#mail .mail-content .attachments .attachment .size{font-size:11px}.nopad{padding:0}.offline-ui,.offline-ui *,.offline-ui :after,.offline-ui :before,.offline-ui:after,.offline-ui:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.offline-ui{display:none;position:fixed;background:#fff;z-index:2000;margin:auto;top:0;left:0;right:0}.offline-ui .offline-ui-content:before{display:inline}.offline-ui .offline-ui-retry{-webkit-user-select:none;-moz-user-select:none;user-select:none;display:none}.offline-ui .offline-ui-retry:before{display:inline}.offline-ui.offline-ui-up.offline-ui-up-5s{display:block}.offline-ui.offline-ui-down{display:block}.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-retry{display:block}.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry{display:none}@-webkit-keyframes offline-dropin{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:0}1%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:0}2%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:1}100%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:1}}@-moz-keyframes offline-dropin{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:0}1%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:0}2%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:1}100%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:1}}@-ms-keyframes offline-dropin{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:0}1%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:0}2%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:1}100%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:1}}@-o-keyframes offline-dropin{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:0}1%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:0}2%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:1}100%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:1}}@keyframes offline-dropin{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:0}1%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:0}2%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px);opacity:1}100%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);opacity:1}}@-webkit-keyframes offline-dropout{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0)}100%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px)}}@-moz-keyframes offline-dropout{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0)}100%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px)}}@-ms-keyframes offline-dropout{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0)}100%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px)}}@-o-keyframes offline-dropout{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0)}100%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px)}}@keyframes offline-dropout{0%{transform:translateY(0);-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0)}100%{transform:translateY(-800px);-webkit-transform:translateY(-800px);-moz-transform:translateY(-800px);-ms-transform:translateY(-800px);-o-transform:translateY(-800px)}}@-webkit-keyframes offline-rotation{0%{transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0)}100%{transform:rotate(359deg);-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-ms-transform:rotate(359deg);-o-transform:rotate(359deg)}}@-moz-keyframes offline-rotation{0%{transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0)}100%{transform:rotate(359deg);-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-ms-transform:rotate(359deg);-o-transform:rotate(359deg)}}@-ms-keyframes offline-rotation{0%{transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0)}100%{transform:rotate(359deg);-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-ms-transform:rotate(359deg);-o-transform:rotate(359deg)}}@-o-keyframes offline-rotation{0%{transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0)}100%{transform:rotate(359deg);-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-ms-transform:rotate(359deg);-o-transform:rotate(359deg)}}@keyframes offline-rotation{0%{transform:rotate(0);-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0)}100%{transform:rotate(359deg);-webkit-transform:rotate(359deg);-moz-transform:rotate(359deg);-ms-transform:rotate(359deg);-o-transform:rotate(359deg)}}.offline-ui{-webkit-box-shadow:0 0 0 1px rgba(0,0,0,.15),0 0 1em rgba(0,0,0,.3);-moz-box-shadow:0 0 0 1px rgba(0,0,0,.15),0 0 1em rgba(0,0,0,.3);box-shadow:0 0 0 1px rgba(0,0,0,.15),0 0 1em rgba(0,0,0,.3);font-family:"Lucida Grande",sans-serif;font-size:14px;padding:1em;width:38em;max-width:100%;background:#f6f6f6;color:#444;overflow:hidden}.offline-ui .offline-ui-content{padding-left:2em}.offline-ui .offline-ui-content:before{line-height:1.25em}.offline-ui .offline-ui-content:after{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;content:" ";display:block;position:absolute;top:0;bottom:0;left:1em;margin:auto;height:1em;width:1em}.offline-ui .offline-ui-retry{-webkit-box-shadow:0 1px 0 rgba(0,0,0,.08),inset 0 1px 2px rgba(255,255,255,.75);-moz-box-shadow:0 1px 0 rgba(0,0,0,.08),inset 0 1px 2px rgba(255,255,255,.75);box-shadow:0 1px 0 rgba(0,0,0,.08),inset 0 1px 2px rgba(255,255,255,.75);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;background-image:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#ededed),color-stop(38%,#ededed),color-stop(100%,#dedede));background-image:-webkit-linear-gradient(#ededed,#ededed 38%,#dedede);background-image:-moz-linear-gradient(#ededed,#ededed 38%,#dedede);background-image:-o-linear-gradient(#ededed,#ededed 38%,#dedede);background-image:linear-gradient(#ededed,#ededed 38%,#dedede);position:absolute;right:4em;top:1em;bottom:1em;border:1px solid rgba(0,0,0,.25);text-shadow:0 1px 0 #f0f0f0;padding:0 1em;line-height:1.6em;height:1.7em;margin:auto;font-size:12px;text-decoration:none;color:inherit}.offline-ui.offline-ui-up{-webkit-animation:offline-dropout forwards .5s 2s;-moz-animation:offline-dropout forwards .5s 2s;-ms-animation:offline-dropout forwards .5s 2s;-o-animation:offline-dropout forwards .5s 2s;animation:offline-dropout forwards .5s 2s;-webkit-backface-visibility:hidden}.offline-ui.offline-ui-up .offline-ui-content:after{background:#80d580}.offline-ui.offline-ui-down{-webkit-animation:offline-dropin .5s;-moz-animation:offline-dropin .5s;-ms-animation:offline-dropin .5s;-o-animation:offline-dropin .5s;animation:offline-dropin .5s;-webkit-backface-visibility:hidden}.offline-ui.offline-ui-down .offline-ui-content:after{background:#ec8787}.offline-ui.offline-ui-down.offline-ui-connecting,.offline-ui.offline-ui-down.offline-ui-waiting{padding-right:3em}.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:after,.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content:after{background:#ec8787}.offline-ui.offline-ui-down.offline-ui-connecting:after,.offline-ui.offline-ui-down.offline-ui-waiting:after{-webkit-animation:offline-rotation .7s linear infinite;-moz-animation:offline-rotation .7s linear infinite;-ms-animation:offline-rotation .7s linear infinite;-o-animation:offline-rotation .7s linear infinite;animation:offline-rotation .7s linear infinite;-webkit-backface-visibility:hidden;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;content:" ";display:block;position:absolute;right:1em;top:0;bottom:0;margin:auto;height:1em;width:1em;border:2px solid transparent;border-top-color:rgba(0,0,0,.5);border-left-color:rgba(0,0,0,.5);opacity:.7}.offline-ui .offline-ui-retry:before{content:"Reconnect"}.offline-ui.offline-ui-up .offline-ui-content:before{content:"Your computer is connected to the internet."}@media (max-width:1024px){.offline-ui.offline-ui-up .offline-ui-content:before{content:"Your device is connected to the internet."}}@media (max-width:568px){.offline-ui.offline-ui-up .offline-ui-content:before{content:"Your device is connected."}}.offline-ui.offline-ui-down .offline-ui-content:before{content:"Your computer lost its internet connection."}@media (max-width:1024px){.offline-ui.offline-ui-down .offline-ui-content:before{content:"Your device lost its internet connection."}}@media (max-width:568px){.offline-ui.offline-ui-down .offline-ui-content:before{content:"Your device isn't connected."}}.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before,.offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before{content:"Attempting to reconnect..."}.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=second]:before{content:"Connection lost. Reconnecting in " attr(data-retry-in-value) " seconds..."}@media (max-width:568px){.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=second]:before{content:"Reconnecting in " attr(data-retry-in-value) "s..."}}.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=second][data-retry-in-value="1"]:before{content:"Connection lost. Reconnecting in " attr(data-retry-in-value) " second..."}@media (max-width:568px){.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=second][data-retry-in-value="1"]:before{content:"Reconnecting in " attr(data-retry-in-value) "s..."}}.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=minute]:before{content:"Connection lost. Reconnecting in " attr(data-retry-in-value) " minutes..."}@media (max-width:568px){.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=minute]:before{content:"Reconnecting in " attr(data-retry-in-value) "m..."}}.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=minute][data-retry-in-value="1"]:before{content:"Connection lost. Reconnecting in " attr(data-retry-in-value) " minute..."}@media (max-width:568px){.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=minute][data-retry-in-value="1"]:before{content:"Reconnecting in " attr(data-retry-in-value) "m..."}}.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=hour]:before{content:"Connection lost. Reconnecting in " attr(data-retry-in-value) " hours..."}@media (max-width:568px){.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=hour]:before{content:"Reconnecting in " attr(data-retry-in-value) "h..."}}.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=hour][data-retry-in-value="1"]:before{content:"Connection lost. Reconnecting in " attr(data-retry-in-value) " hour..."}@media (max-width:568px){.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit=hour][data-retry-in-value="1"]:before{content:"Reconnecting in " attr(data-retry-in-value) "h..."}}.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry{display:none}.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before{content:"Connection attempt failed."}

.intl-tel-input.allow-dropdown .flag-container {
    margin-top: 15px
}

.intl-tel-input {
    display: inline;
}

.pad2s{
    padding-right: 2% !important;
}

.upcase
{
	    text-transform: uppercase;
}

hr{
	/*    margin-top: 0px;
    margin-bottom: 0px;
	border-top: 1px solid #00326a;
    width: 100%;
    padding: 2px;*/
}

.md-table-pagination,table {
    background-color: white !important;
}

.texttitle
{
	   padding-top: 15px;
}

.right {
    float: right;
}

.wid {
   /* width: 25%; */
}

.right
{
	    float: right;
}
.mrg1{
	    margin-top: 1%;
}

 .searchmrg{
    margin-top: 42px;
    }

 .pad5{   padding-bottom: 5%;
}

.h40
{
	height: 40px;
}
.gmmap
{
	height: 250px;
	  border: white solid 5px;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,.16), 0 5px 15px 0 rgba(0,0,0,.12)
}


.ng-maps {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px
}

.mrg1 {
    margin-top: 1%
}
.backhead
{
	    background: #000000bd !important;
}
.cauto
{
	margin-left: auto !important;
    margin-right: auto !important;
}

.pad10
{
	padding-left: 10px;
    padding-right: 10px;
}

.textup
{
 text-transform: uppercase;
}


.viewp b
{
	text-transform: uppercase;
}
.overfl
{
	overflow: hidden;
}

.pad0
{
	padding-left: 0px;
    padding-right: 0px;
}

.mar35
{
	margin-left: 35% !important;
}

.viewp
{
    text-align: justify;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 12px;
}
.pad1 {
    padding: 1%;
}


.object {
    width: 100%;
    height: 100%
}

.mdobj {
    width: 100%;
    height: 245px
}

.nopad {
    padding: 0
}

.pad8 {
    padding: 8px
}

.pad0 {
    padding: 0
}

.mar0 {
    margin: 0
}

.pwarn {
    text-align: -webkit-auto;
    font-style: italic;
    color: red
}

.nopad-mar {
    padding: 0;
    margin: 0
}

.form_p {
    font-size: 20px;
    margin-top: 7px
}

.mt20 {
    margin-top: 20px
}


/*
Color

#00a8cb - LIGHT

00326a - DARK

*/
/*
.app-header-inner {
    background-color: #f1f1f1;
}

.app-header:hover {
    background-color: #f1f1f1;
}
*/
.app-sidebar ul.nav .icon-has-ul {
    color: white;
}

.app-sidebar .sidebar-content .nav>li ul li>a,
.app-sidebar .sidebar-content .nav>li>a {
    padding: 10px 16px;
    text-align: left;
    font-weight: 500;
}

.sidebar-sm .app-header .brand {
    height: 100%;
    background: white;
    /*    border-right: #00326a solid 1px;*/
}
md-list-item .md-avatar, md-list-item .md-list-item-inner .md-avatar{
    border: solid black 1px !important;
    width:50px;
    height:50px;
    border-radius: 8px;
}

.bg-dark {
    background-color: #2a9490 !important;
    color: #fff;
}

.app-sidebar .nav .nav-icon.material-icons {
    color: #fff;
}

._md-datepicker-floating-label>md-datepicker .md-datepicker-input-container {
    border: none;
    width: 200px;
}

._md-datepicker-floating-label>md-datepicker .md-datepicker-button {
    float: left;
    margin-top: -5.5px;
}

/*.app-page-container .app-content-wrapper {
    background-color: antiquewhite;
}
*//*.app-page-container .app-content-wrapper {
    background-color: #f3f3f3;
}*/

.phone {
    z-index: 999 !important;
    background:  white;
    margin-bottom: 2px;
}

.s {


    border: rgba(117, 117, 117, 0.26) solid 0.2px;
    min-height: 45px !important;
    max-height: 45px !important;
}


/*.locate
{
	    position: absolute !important;
    margin-top: 35% !important;
    z-index: 999 !important;
    margin-left: 125px !important;
}
*/

.locate {
    position: absolute !important;
    margin-top: 1% !important;
    z-index: 999 !important;
    margin-left: 94% !important;
}

.page-auth .logo {
    padding-left: 0;
    font-size: 32px;
    margin-bottom: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.page-auth .card {
    padding: 20px 20px;
}


/*
.sidebar-content
{
  background-color: #00326a;
}*/

.app-sidebar .nav a {
    color: white;
}

.app-sidebar .nav .nav-header {
    color: white;
}

.app-sidebar .sidebar-footer {
    display: none !important;
}

.md-button.md-default-theme.md-accent.md-raised,
.md-button.md-accent.md-raised,
.md-button.md-default-theme.md-accent.md-fab,
.md-button.md-accent.md-fab {
    background-color: #404040;
}

.md-button.md-default-theme.md-accent.md-raised:not([disabled]):hover,
.md-button.md-accent.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-accent.md-fab:not([disabled]):hover,
.md-button.md-accent.md-fab:not([disabled]):hover {
    background-color: #00a8cb;
}

.md-icon-button {
    background: transparent !important;
}


.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover
{
	 background-color: #00326a;
}
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
    background-color: #404040;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.md-button.md-primary.md-raised:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: #00a8cb;
}

.md-button.md-default-theme.md-primary:not([disabled]) md-icon,
.md-button.md-primary:not([disabled]) md-icon {
    color: #00a8cb;
}


/*
.tableload md-progress-linear .md-container
{
	    height: 3px !important;
}
*/

md-progress-linear .md-container {
    height: 3px !important;
}


/*.full-height
{
background: rgba(224, 224, 224, 0.74)
}


.app-page-container .app-content-wrapper {


background: rgba(224, 224, 224, 0.74)
}
*/


/*
.bg-light {
    background-color: #008833;
    color: white;
}
.bg-light:hover {
   background-color: #008833;
    color: white;
}

.app-sidebar .nav .nav-header {
    color: white;
    font-weight: 800px;
    font-size: 15px;
}


.bg-light a {
    color: white;
}
.bg-light a:hover {
    color: white;
}

.sidebar-footer
{
	display: none;
}



.header-btn .material-icons
{
	color: white;
}

*/

.page-auth {
    background-color: #eee;
    min-height: 100%;
    background: url('/assets/images/login/login.png') no-repeat fixed;
    background-size: cover;
    padding: 0 10px;
}


md-tooltip.md-default-theme, md-tooltip {
    color: white !important;
    font-size: 13px !important;
}

.icmr4 {
    margin-left: 4%;

    }

.icmr2
 {   margin-left: 2%;
 }

    .icmr8 {
      margin-left: 8%;

    }


    textarea.md-input {
  max-height: 150px;
  overflow: auto;
}

.totalLeft
{
    float: right;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(0, 50, 106);
    color: rgb(255,255,255);
}

.md-button.md-default-theme.md-accent[disabled], .md-button.md-accent[disabled], .md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled], .md-button.md-default-theme.md-warn[disabled], .md-button.md-warn[disabled], .md-button.md-default-theme[disabled], .md-button[disabled]{
    cursor: not-allowed;
    color: white;
    }

    .border {
    border: #00326a solid 1px;
    padding-top: 2%;
    margin-bottom: 2%;
}
.caseh5 {
margin-top: -15px;
padding-left: 20px;
  /*  text-align: center;*/
    /* background: blanchedalmond; */
  /*  border-bottom: #93aec5 solid 1px; */
    margin-bottom: 15px;
    padding-bottom: 7px;
}

  .daterangepicker.dropdown-menu {
            max-width: none
        }

        .daterangepicker.opensleft .calendar,
        .daterangepicker.opensleft .ranges {
            float: left;
            margin: 5px
        }

        .daterangepicker.opensright .calendar,
        .daterangepicker.opensright .ranges {
            float: left;
            margin: 0;
            padding: 4px
        }

        .daterangepicker .ranges {
            width: 170px;
            text-align: left
        }

        .daterangepicker .ranges .range_inputs>div {
            float: left
        }

        .daterangepicker .ranges .range_inputs>div:nth-child(2) {
            padding-left: 3px
        }

        .daterangepicker .calendar {
            display: none;
            max-width: 270px
        }

        .daterangepicker .calendar td,
        .daterangepicker .calendar th {
            font-family: "Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif;
            white-space: nowrap;
            text-align: center;
            min-width: 32px
        }

        .daterangepicker .ranges label {
            color: #333;
            display: block;
            font-size: 11px;
            font-weight: 400;
            height: 20px;
            line-height: 20px;
            margin-bottom: 2px;
            text-shadow: #fff 1px 1px 0;
            text-transform: uppercase;
            width: 74px
        }

        .daterangepicker .ranges input {
            font-size: 11px
        }

        .daterangepicker .ranges .input-mini {
            background-color: #f7f8fa;
            border: 1px solid #cdced1;
            color: rgba(26, 26, 26, .5);
            display: block;
            font-size: 12px;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            margin: 0 0 10px;
            padding: 0 6px;
            width: 78px;
            border-radius: 3px
        }

        .daterangepicker .ranges ul {
            list-style: none;
            margin: 0;
            padding: 0
        }

        .daterangepicker .ranges li {
            font-size: 14px;
            background: #edeef0;
            border: 1px solid #edeef0;
            color: #1a1a1a;
            padding: 3px 8px;
            margin-bottom: 8px;
            cursor: pointer;
            border-radius: 3px
        }

        .daterangepicker .ranges li.active,
        .daterangepicker .ranges li:hover {
            background: #08c;
            border: 1px solid #08c;
            color: #fff
        }

        .daterangepicker .calendar-date {
            background: #fff;
            background: rgba(255, 255, 255, .92)
        }

        .daterangepicker .calendar-date table {
            border: 1px solid #ddd
        }

        .daterangepicker .calendar-time {
            text-align: center;
            margin: 8px auto 0;
            line-height: 30px
        }

        .daterangepicker {
            position: absolute;
            background: #fff;
            background: rgba(255, 255, 255, .98);
            top: 100px;
            left: 20px;
            padding: 5px 7px 5px 5px
        }

        .daterangepicker table {
            width: 100%;
            margin: 0
        }

        .daterangepicker td,
        .daterangepicker th {
            text-align: center;
            width: 20px;
            height: 20px;
            cursor: pointer;
            white-space: nowrap
        }

        .daterangepicker td.disabled,
        .daterangepicker td.off {
            color: #999
        }

        .daterangepicker td.available:hover,
        .daterangepicker th.available:hover {
            background: #eee
        }

        .daterangepicker td.in-range {
            background: #ebf4f8
        }

        .daterangepicker td.active,
        .daterangepicker td.active:hover {
            background-color: #3498db;
            border-color: #3498db;
            color: #fff;
            border-radius: 3px
        }

        .daterangepicker td.week,
        .daterangepicker th.week {
            font-size: 80%;
            color: #ccc
        }

        .daterangepicker select.monthselect,
        .daterangepicker select.yearselect {
            font-size: 12px;
            padding: 1px;
            height: auto;
            margin: 0;
            cursor: default
        }

        .daterangepicker select.monthselect {
            margin-right: 2%;
            width: 56%
        }

        .daterangepicker select.yearselect {
            width: 40%
        }

        .daterangepicker select.ampmselect,
        .daterangepicker select.hourselect,
        .daterangepicker select.minuteselect {
            width: 50px;
            margin-bottom: 0
        }

        .daterangepicker.openscenter:after,
.daterangepicker.openscenter:before,
.daterangepicker.opensleft:after,
.daterangepicker.opensleft:before,
.daterangepicker.opensright:after,
.daterangepicker.opensright:before {
    display: inline-block;
    content: '';
    position: absolute
}


.daterangepicker {
    position: absolute;
    background: #fff;
    top: 100px;
    left: 20px;
    padding: 4px;
    margin-top: 1px;
    border-radius: 4px;
    width: 278px
}
.daterangepicker.opensleft:before {
    top: -7px;
    right: 9px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2)
}
.daterangepicker.opensleft:after {
    top: -6px;
    right: 10px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent
}
.daterangepicker.openscenter:after,
.daterangepicker.openscenter:before {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto
}
.daterangepicker.openscenter:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2)
}
.daterangepicker.openscenter:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent
}
.daterangepicker.opensright:before {
    top: -7px;
    left: 9px;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .2)
}
.daterangepicker.opensright:after {
    top: -6px;
    left: 10px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent
}
.daterangepicker.dropup {
    margin-top: -5px
}
.daterangepicker.dropup:before {
    top: initial;
    bottom: -7px;
    border-bottom: initial;
    border-top: 7px solid #ccc
}
.daterangepicker.dropup:after {
    top: initial;
    bottom: -6px;
    border-bottom: initial;
    border-top: 6px solid #fff
}
.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3000
}
.daterangepicker.single .calendar,
.daterangepicker.single .ranges {
    float: none
}
.daterangepicker .calendar {
    display: none;
    max-width: 270px;
    margin: 4px
}
.daterangepicker.show-calendar .calendar {
    display: block
}
.daterangepicker .calendar.single .calendar-table {
    border: none
}
.daterangepicker .calendar td,
.daterangepicker .calendar th {
    white-space: nowrap;
    text-align: center;
    min-width: 30px!important
}
.daterangepicker .calendar-table {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
    background: #fff
}
.daterangepicker table {
    width: 100%;
    margin: 0
}
.daterangepicker td,
.daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer
}
.daterangepicker td.off,
.daterangepicker td.off.end-date,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date {
    color: #999;
    background: #fff
}
.daterangepicker option.disabled,
.daterangepicker td.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background: #eee
}
.daterangepicker td.in-range {
    background: #ebf4f8;
    border-radius: 0
}
.daterangepicker td.start-date {
    border-radius: 4px 0 0 4px
}
.daterangepicker td.end-date {
    border-radius: 0 4px 4px 0
}
.daterangepicker td.start-date.end-date {
    border-radius: 4px
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #357ebd;
    border-color: #3071a9;
    color: #fff
}
.daterangepicker td.week,
.daterangepicker th.week {
    font-size: 80%;
    color: #ccc
}
.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default
}
.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%
}
.daterangepicker select.yearselect {
    width: 40%
}
.daterangepicker select.ampmselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect {
    width: 50px;
    margin-bottom: 0
}
.daterangepicker th.month {
    width: auto
}
.daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 0 5px;
    padding: 0 6px 0 28px;
    width: 100%
}
.daterangepicker .input-mini.active {
    border: 1px solid #357ebd
}
.daterangepicker .daterangepicker_input i {
    position: absolute;
    left: 8px;
    top: 8px
}
.daterangepicker .daterangepicker_input {
    position: relative
}
.daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px
}
.daterangepicker .calendar-time select.disabled {
    color: #ccc;
    cursor: not-allowed
}
.daterangepicker .ranges {
    font-size: 11px;
    float: none;
    margin: 4px;
    text-align: left
}
.daterangepicker .ranges ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%
}
.daterangepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #08c;
    padding: 3px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #08c;
    border: 1px solid #08c;
    color: #fff
}
@media (min-width: 564px) {
    .daterangepicker .calendar,
    .daterangepicker .ranges,
    .daterangepicker.single .calendar,
    .daterangepicker.single .ranges {
        float: left
    }
    .daterangepicker {
        width: auto
    }
    .daterangepicker .ranges ul {
        width: 160px
    }
    .daterangepicker.single .ranges ul {
        width: 100%
    }
    .daterangepicker .calendar.left .calendar-table {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }
    .daterangepicker .calendar.right .calendar-table {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }
    .daterangepicker .calendar.left {
        clear: left;
        margin-right: 0
    }
    .daterangepicker.single .calendar.left {
        clear: none
    }
    .daterangepicker .calendar.right {
        margin-left: 0
    }
    .daterangepicker .calendar.left .calendar-table,
    .daterangepicker .left .daterangepicker_input {
        padding-right: 12px
    }
}
@media (min-width: 730px) {
    .daterangepicker .ranges {
        width: auto;
        float: left
    }
    .daterangepicker .calendar.left {
        clear: none
    }
}
.daterangepicker.dropdown-menu {
    font-size: 14px!important;
    font-weight: 600!important
}
.calendar-time select {
    background: #fff!important;
    color: #000!important;
    border: 1px solid #ccc!important;
    box-shadow: 0 3px rgba(0, 0, 0, .1)!important;
    border-radius: 5px!important;
    margin: 0!important;
    line-height: 1.4!important;
    font-size: 14px!important;
    height: 35px!important;
    padding: 0 0 0 5px!important;
    width: 65px!important;
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    appearance: menulist!important
}
.calendar-time option:disabled {
    color: #BCB2B2!important
}
.daterangepicker td.disabled {
    color: #fff!important
}

.daterangepicker select.yearselect,.monthselect
{
    background: #fff!important;
    color: #000!important;
    border: 1px solid #ccc!important;
    box-shadow: 0 3px rgba(0, 0, 0, .1)!important;
    border-radius: 5px!important;
    margin: 0!important;
    line-height: 1.4!important;
    font-size: 14px!important;
    height: 35px!important;
    padding: 0 0 0 5px!important;
    width: 65px!important;
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    appearance: menulist!important
}


.intl-tel-input .flag-dropdown {

    top: 13px !important;

}

@-moz-document url-prefix() {

.intl-tel-input .flag-dropdown {
top: 25px !important;

}
}

.upper
{
    text-transform: uppercase;
}



   .tablefix {
        white-space: normal;
          table-layout: fixed !important;
    }

  .page-auth {


    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/login/Deliver1.png");
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url("../images/login/Deliver1.png");
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/login/Deliver1.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/login/Deliver1.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)),to(rgba(0, 0, 0, 0.1))), url("../images/login/Deliver1.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/login/Deliver1.png");


/*    background: url('../images/login/Deliver1.png') no-repeat;
*/
background-size: cover !important;
}

.auth {


    background:url('../images/login/Deliver1.png') no-repeat;

background-size: cover !important;
}


/*.page-auth:before {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}*/


  .page-auth {


    }


  .rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
       font-size: 2em;
}
.rating .filled {
    color: orangered;
}
.clear{
  margin-top:20px;
}


md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
}
