<style type="text/css">
  .app-sidebar .sidebar-content .nav-text {
    text-transform: uppercase;
    margin-left: 6px !important;
}
</style>

<ul class="nav" data-accordion-nav data-slim-scroll data-highlight-active data-append-sub-menu-icon>
 <!--    <li class="nav-header" permission permission-only="'SUPERADMIN'"><span>Admin </span></li>
    <li>
        <a md-button aria-label="menu" ui-sref="admin.dashboard" permission permission-only="'SUPERADMIN'">
            <i class="nav-icon material-icons">home</i><span class="nav-text">Admin DASHBOARD</span></a>
    </li>
    <li permission permission-only="'SUPERADMIN'"><a md-button aria-label="menu" ui-sref="admin.company"><i class="nav-icon material-icons">work</i><span class="nav-text" >COMPANY</span></a></li>
    <li class="nav-divider" permission permission-only="'SUPERADMIN'"></li>
    <li class="nav-header" ng-if="show_menu" permission permission-only="'SUPERADMIN'"><span>COMPANY </span></li>
    <li ng-if="show_menu">
        <a md-button aria-label="menu" ui-sref="admin.company_dashboard">
            <i class="nav-icon material-icons">dashboard</i><span class="nav-text">DASHBOARD</span></a>
    </li> -->


        <li ng-if="show_menu">
        <a md-button aria-label="menu" ui-sref="admin.company_dashboard" id='dashboard-link' data-ui-sref-opts="{reload: true}">
            
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
<path id="XMLID_79_" style="fill:#FFFFFF;" d="M19.694,22.478H6.641c-1.485,0-2.693-1.202-2.693-2.68V9.497
  c0-1.477,1.208-2.678,2.692-2.678h13.053c1.485,0,2.693,1.202,2.693,2.679v10.301C22.387,21.275,21.179,22.478,19.694,22.478z
   M7.775,18.649h10.784v-8.003H7.775V18.649z M43.359,22.478H30.308c-1.485,0-2.694-1.202-2.694-2.68V9.497
  c0-1.477,1.209-2.678,2.693-2.678h13.053c1.485,0,2.693,1.202,2.693,2.679v10.301C46.053,21.275,44.845,22.478,43.359,22.478z
   M31.441,18.649h10.783v-8.003H31.441V18.649z M19.694,43.182H6.641c-1.485,0-2.693-1.202-2.693-2.68v-10.3
  c0-1.478,1.208-2.68,2.693-2.68h13.052c1.485,0,2.693,1.202,2.693,2.68v10.301C22.387,41.98,21.179,43.182,19.694,43.182z
   M7.775,39.354h10.784v-8.003H7.775V39.354z M43.359,43.182H30.308c-1.485,0-2.694-1.202-2.694-2.68v-10.3
  c0-1.478,1.209-2.68,2.694-2.68h13.052c1.485,0,2.693,1.202,2.693,2.68v10.301C46.053,41.98,44.845,43.182,43.359,43.182z
   M31.441,39.354h10.783v-8.003H31.441V39.354z"/>
</svg><span class="nav-text">{{ 'DASHBOARD' | translate}}</span></a>
    </li>
    <li ng-if="show_menu"><a id='employee-link' md-button aria-label="menu" ui-sref="admin.user" permission permission-only="['SUPERADMIN','ADMIN','MANAGER']"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
<path id="XMLID_1265_" style="fill:#FFFFFF;" d="M20.387,28.878c5.58,0,10.12-4.537,10.12-10.112c0-5.576-4.54-10.112-10.12-10.112
  s-10.12,4.536-10.12,10.112C10.267,24.341,14.807,28.878,20.387,28.878z M20.387,12.48c3.47,0,6.292,2.819,6.292,6.285
  c0,3.465-2.822,6.284-6.292,6.284c-3.469,0-6.292-2.819-6.292-6.284C14.095,15.3,16.917,12.48,20.387,12.48z M24.992,29.82
  c-0.526-0.166-1.098-0.098-1.571,0.188l-3.034,1.841l-3.034-1.841c-0.473-0.286-1.045-0.354-1.571-0.188
  c-2.895,0.918-12.341,4.314-12.341,9.455c0,1.057,0.856,1.913,1.914,1.913h30.064c1.058,0,1.914-0.856,1.914-1.913
  C37.333,34.135,27.887,30.738,24.992,29.82z M8.823,37.361c1.624-1.221,4.344-2.6,7.301-3.621l3.271,1.982
  c0.61,0.37,1.375,0.37,1.985,0l3.271-1.982c2.958,1.021,5.677,2.4,7.301,3.621H8.823z M46.981,35.945
  c0,0.793-0.643,1.416-1.436,1.416H39.15c-0.793,0-1.436-0.644-1.436-1.436c0-0.793,0.643-1.436,1.436-1.436h4.26
  c-0.693-0.957-1.858-1.712-3.285-2.496c-0.694-0.381-0.947-1.234-0.566-1.929c0.382-0.695,1.256-0.948,1.949-0.566
  C43.553,30.622,46.981,32.937,46.981,35.945z M38.932,23.278c0-2.093-1.705-3.796-3.801-3.796c-0.514,0-1.012,0.102-1.48,0.299
  c-0.729,0.309-1.572-0.033-1.881-0.764c-0.309-0.729,0.033-1.572,0.764-1.88c0.824-0.349,1.698-0.525,2.598-0.525
  c3.679,0,6.671,2.99,6.671,6.666c0,3.675-2.992,6.665-6.671,6.665c-1.909,0-3.73-0.82-4.997-2.25
  c-0.525-0.594-0.47-1.501,0.123-2.026c0.594-0.525,1.501-0.471,2.026,0.123c0.723,0.815,1.76,1.283,2.848,1.283
  C37.227,27.073,38.932,25.371,38.932,23.278z"/>
</svg><span class="nav-text" >{{ 'EMPLOYEE' | translate}}</span></a></li>
    <!--    <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.attandance"><i class="nav-icon material-icons">alarm</i><span class="nav-text" >Attendance</span></a></li>
 -->
    <li ng-if="show_menu"> <a md-button aria-label="menu" ui-sref="admin.customer" id='customer-link'><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
<path id="XMLID_48_" style="fill:#FFFFFF;" d="M33.481,31.479c3.701,0,6.712-3.004,6.712-6.697c0-3.692-3.011-6.696-6.712-6.696
  s-6.712,3.004-6.712,6.696C26.77,28.475,29.78,31.479,33.481,31.479z M33.481,20.956c2.118,0,3.841,1.716,3.841,3.825
  c0,2.11-1.723,3.827-3.841,3.827s-3.842-1.717-3.842-3.827C29.64,22.672,31.363,20.956,33.481,20.956z M11.16,21.658
  c0-0.793,0.643-1.436,1.436-1.436h8.344c0.792,0,1.436,0.643,1.436,1.436c0,0.792-0.643,1.435-1.436,1.435h-8.344
  C11.803,23.093,11.16,22.45,11.16,21.658z M20.94,28.356h-8.344c-0.793,0-1.436-0.644-1.436-1.436s0.643-1.436,1.436-1.436h8.344
  c0.792,0,1.436,0.644,1.436,1.436S21.732,28.356,20.94,28.356z M18.847,32.184c0,0.793-0.643,1.436-1.436,1.436h-4.816
  c-0.793,0-1.436-0.643-1.436-1.436c0-0.792,0.643-1.436,1.436-1.436h4.816C18.205,30.748,18.847,31.392,18.847,32.184z
   M47.68,15.721c0-1.742-1.412-3.154-3.154-3.154H6.814c-1.742,0-3.154,1.412-3.154,3.154v22.4c0,1.742,1.412,3.154,3.154,3.154
  h37.711c1.742,0,3.154-1.412,3.154-3.154V15.721z M7.488,16.395h36.363v19.965c-1.914-2.022-5.604-3.369-6.989-3.838
  c-0.306-0.103-0.636-0.102-0.938,0.006l-2.443,0.864l-2.442-0.864c-0.304-0.107-0.634-0.059-0.938,0.045
  c-1.6,0.541-6.111,2.004-7.811,4.875h-14.8V16.395z M26.507,37.447c1.092-0.957,2.524-1.439,4.051-1.993l2.445,0.839
  c0.31,0.109,0.647,0.097,0.957-0.013l2.444-0.819c1.526,0.553,2.96,1.029,4.052,1.986H26.507z"/>
</svg><span class="nav-text" >{{ 'CUSTOMER' | translate}}</span></a></li>
<!-- 
    <li ng-if="show_menu"> <a md-button aria-label="menu" ui-sref="admin.pickup" id='pickup-link'><i class="nav-icon material-icons">track_changes</i><span class="nav-text" >PICKUP LOCATIONS</span></a></li> -->

<!--
     <li ng-if="show_menu"> <a md-button aria-label="menu" ui-sref="admin.customer-stats"><i class="nav-icon material-icons">folder</i><span class="nav-text">CUSTOMER STATS</span></a></li>

 -->

 <!--          <li ng-if="show_menu">
      <a md-button aria-label="menu" href=""><i class="nav-icon material-icons">shopping_cart</i><span class="nav-text">Orders  </span><i class="nav-icon material-icons icmr8">ic_keyboard_arrow_down</i></a>
      <ul>
         <li><a md-button aria-label="menu" ui-sref="admin.order"><i class="nav-icon material-icons">class</i><span class="nav-text" >Orders Report</span></a></li>

          <li><a md-button aria-label="menu" ui-sref="admin.product"><i class="nav-icon material-icons">view_list</i><span class="nav-text" >Product</span></a></li>

                  <li><a md-button aria-label="menu" ui-sref="admin.category"><i class="nav-icon material-icons">view_list</i><span class="nav-text" >Category</span></a></li>




      </ul>
   </li> -->


   <!--  <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.new-schedule"><i class="nav-icon material-icons">event</i><span class="nav-text" >Delivery Schedule</span></a></li> -->
<!--     <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.new-schedule"><i class="nav-icon material-icons">event</i><span class="nav-text" >Beta Schedule</span></a></li> -->
<!--     <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.visit"><i class="nav-icon material-icons">class</i><span class="nav-text" >CUSTOMER Analysis </span></a></li>

    <li ng-if="show_menu">
        <a md-button aria-label="menu" ui-sref="admin.caseinfo"><i class="nav-icon material-icons">class</i><span class="nav-text" >Case / Complaints </span></a></li>






       <li ng-if="show_menu">
      <a md-button aria-label="menu" href=""><i class="nav-icon material-icons">note</i><span class="nav-text">Reports </span> <i class="nav-icon material-icons icmr4 ">ic_keyboard_arrow_down</i> </a>
      <ul>
   <li ><a md-button aria-label="menu" ui-sref="admin.requestinfo"><i class="nav-icon material-icons">class</i><span class="nav-text" >Request Info </span></a></li>
   <li><a md-button aria-label="menu" ui-sref="admin.caseinfo"><i class="nav-icon material-icons">class</i><span class="nav-text" >Case Info </span></a></li>
         <li ><a md-button aria-label="menu" ui-sref="admin.visit"><i class="nav-icon material-icons">class</i><span class="nav-text" >Visit Report </span></a></li>
   <li><a md-button aria-label="menu" ui-sref="admin.market"><i class="nav-icon material-icons">class</i><span class="nav-text" >Market Report</span></a></li>
      <li><a md-button aria-label="menu" ui-sref="admin.travelexpense"><i class="nav-icon material-icons">account_balance_wallet</i><span class="nav-text" >Travel Expense</span></a></li>
   <li><a md-button aria-label="menu" ui-sref="admin.newprojectopp"><i class="nav-icon material-icons">class</i><span class="nav-text" >Lead Opportunity</span></a></li>



    </ul>
   </li> -->

    <!--    <li ng-if="show_menu">
      <a md-button aria-label="menu" href=""><i class="nav-icon material-icons">perm_media</i><span class="nav-text">List Item  </span><i class="nav-icon material-icons icmr2">ic_keyboard_arrow_down</i></a>
      <ul>
         <li><a md-button aria-label="menu" ui-sref="admin.competitor"><i class="nav-icon material-icons">folder</i><span class="nav-text" >Competitor </span></a></li>
         <li><a md-button aria-label="menu" ui-sref="admin.customer"><i class="nav-icon material-icons">folder</i><span class="nav-text">CUSTOMER</span></a></li>
         <li><a md-button aria-label="menu" ui-sref="admin.activities"><i class="nav-icon material-icons">folder</i><span class="nav-text" >Activities </span></a></li>
         <li><a md-button aria-label="menu" ui-sref="admin.prospect"><i class="nav-icon material-icons">folder</i><span class="nav-text" >Prospect Types</span></a></li>
      </ul>
   </li> -->


<!--        <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.competitor"><i class="nav-icon material-icons">folder</i><span class="nav-text" >Competitor </span></a></li> -->
 <!--    <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.activities"><i class="nav-icon material-icons">folder</i><span class="nav-text" >Activities </span></a></li>
    <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.prospect"><i class="nav-icon material-icons">folder</i><span class="nav-text" >Prospect Types</span></a></li> -->


    <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.report" id='delivery-report-link'><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
<path id="XMLID_1525_" style="fill:#FFFFFF;" d="M24.985,13.446c-0.319-0.321-0.753-0.408-1.206-0.408H9.476
  c-0.938,0-2.179,0.571-2.179,1.506v30.292c0,0.934,1.242,2.174,2.179,2.174h22.678c0.938,0,1.457-1.24,1.457-2.174V22.98
  c0-0.446-0.057-0.828-0.371-1.145L24.985,13.446z M29.73,23.085h-6.166v-6.181L29.73,23.085z M11.125,43.182V16.387h9.091v8.251
  c0,0.935,0.882,1.797,1.82,1.797h8.229v16.746H11.125z M42.402,11.616L34.086,3.3c-0.273-0.275-0.586-0.31-0.975-0.31H18.81
  c-0.804,0-1.465,0.411-1.465,1.212v4.608c0,0.801,0.631,1.451,1.435,1.451s1.436-0.649,1.436-1.451v-2.95h10.048v8.083
  c0,0.802,0.67,1.486,1.473,1.486h8.096v17.703H37.85c-0.803,0-1.455,0.635-1.455,1.436c0,0.803,0.652,1.436,1.455,1.436h3.639
  c0.803,0,1.215-0.709,1.215-1.512V12.637C42.703,12.255,42.672,11.888,42.402,11.616z M33.135,6.344l6.162,6.215h-6.162V6.344z"/>
</svg>
<span class="nav-text" >{{ 'DELIVERY REPORT' | translate}}</span></a></li>
   <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.milagereport" id='delivery-report-link'><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
<path id="XMLID_113_" style="fill:#FFFFFF;" d="M42.498,5.149c-0.483-0.308-1.029-0.347-1.549-0.104L30.843,9.781L20.722,5.045
  c-0.03-0.015-0.056-0.018-0.087-0.03c-0.068-0.027-0.133-0.049-0.203-0.066c-0.066-0.017-0.129-0.029-0.196-0.038
  c-0.07-0.009-0.138-0.013-0.208-0.013c-0.069,0-0.137,0.004-0.206,0.013c-0.068,0.008-0.134,0.021-0.201,0.038
  c-0.07,0.018-0.137,0.039-0.205,0.065c-0.032,0.013-0.065,0.017-0.096,0.031L8.354,10.112c-0.589,0.275-1.086,0.866-1.086,1.518
  v33.21c0,0.572,0.413,1.105,0.896,1.413c0.273,0.174,0.646,0.261,0.959,0.261c0.241,0,0.513-0.052,0.738-0.157l10.152-4.735
  l10.143,4.735c0.003,0.002,0.01,0.002,0.013,0.003c0.099,0.046,0.204,0.079,0.309,0.104c0.024,0.006,0.05,0.011,0.074,0.016
  c0.106,0.021,0.214,0.034,0.321,0.034s0.215-0.014,0.32-0.034c0.024-0.005,0.049-0.01,0.073-0.016
  c0.104-0.025,0.208-0.059,0.308-0.104c0.002-0.001,0.005-0.001,0.008-0.003l10.726-5.067c0.589-0.275,0.846-0.866,0.846-1.517V6.563
  C43.153,5.99,42.98,5.457,42.498,5.149z M29.277,42.209l-7.655-3.502V9.193l7.655,3.502V42.209z M10.617,12.695l7.656-3.502v29.514
  l-7.656,3.502V12.695z M39.805,38.707l-7.178,3.502V12.695l7.178-3.502V38.707z"/>
</svg><span class="nav-text" >{{ 'MILAGE REPORT' | translate}}</span></a></li>

    <li ng-if="show_rev_menu"><a md-button aria-label="menu" id='customer-review-link' ui-sref="admin.customer-review"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
<path id="XMLID_1284_" style="fill:#FFFFFF;" d="M45.095,7.462H4.903c-1.057,0-1.913,0.857-1.913,1.914v24.435
  c0,1.057,0.856,1.881,1.913,1.881h22.488v8.135c0,0.803,0.606,1.52,1.359,1.797c0.216,0.078,0.491,0.117,0.712,0.117
  c0.552,0,1.115-0.256,1.486-0.693l7.941-9.355h6.204c1.058,0,1.914-0.824,1.914-1.881V9.376C47.009,8.319,46.152,7.462,45.095,7.462
  z M43.181,31.864h-5.177c-0.563,0-1.202,0.264-1.565,0.692l-5.219,6.051v-4.797c0-1.058-0.647-1.946-1.704-1.946H6.817V11.29h36.363
  V31.864z M11.908,17.988c0-1.057,0.856-1.914,1.913-1.914h13.855c1.057,0,1.914,0.857,1.914,1.914c0,1.057-0.857,1.914-1.914,1.914
  H13.821C12.765,19.902,11.908,19.045,11.908,17.988z M32.913,19.453c-0.354-0.354-0.561-0.847-0.561-1.349
  c0-0.508,0.207-1,0.561-1.354c0.359-0.358,0.852-0.56,1.354-0.56c0.508,0,1.001,0.201,1.354,0.56c0.354,0.354,0.56,0.852,0.56,1.354
  c0,0.502-0.205,0.995-0.56,1.349c-0.358,0.359-0.852,0.564-1.354,0.564C33.765,20.017,33.272,19.812,32.913,19.453z"/>
</svg><span class="nav-text" >{{ 'CUSTOMER REVIEWS' | translate}}</span></a></li>

<!--     <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.map"><i class="nav-icon material-icons">map</i><span class="nav-text" >Live Tracking</span></a></li>
 -->


    <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.travelmap" id='gps-hist-link'><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="20px" height="20px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
<path id="XMLID_507_" style="fill:#FFFFFF;" d="M27.181,46.257c-0.103,0-0.204-0.008-0.307-0.024
  c-0.855-0.139-1.512-0.834-1.599-1.696l-1.691-16.629L6.955,26.216c-0.862-0.088-1.558-0.743-1.696-1.599
  c-0.138-0.855,0.315-1.696,1.105-2.052L42.728,6.233c0.725-0.326,1.575-0.169,2.138,0.393c0.562,0.562,0.718,1.413,0.393,2.138
  L28.925,45.127C28.613,45.822,27.924,46.257,27.181,46.257z M14.449,23.131l11.075,1.126c0.903,0.092,1.618,0.807,1.71,1.71
  l1.126,11.073l11.343-25.253L14.449,23.131z"/>
</svg>
<span class="nav-text" >{{ 'GBS HISTORY' | translate}} </span></a></li>
<!--     <li ng-if="show_menu"><a md-button aria-label="menu" ui-sref="admin.mobileapp" id='download-app-link'><i class="nav-icon material-icons">get_app</i><span class="nav-text" >Download APP </span></a></li>
 -->
<!-- 

    <li permission permission-except="['SUPERADMIN']">
        <a md-button aria-label="menu" ui-sref="admin.profile">
            <i class="nav-icon material-icons">settings</i><span class="nav-text">My Account</span></a>
    </li> -->
    <!--    <li ng-if="show_menu">
      <a md-button aria-label="menu" href="#/dashboard/chart"><i class="nav-icon material-icons">equalizer</i><span class="nav-text" >CHARTS</span></a>
      <ul>
         <li ng-if="show_menu"><a class="prepend-icon" md-button aria-label="menu" href="#/dashboard/chart/line"><span><span ></span> LINE & AREA </a></li>
         <li ng-if="show_menu"><a class="prepend-icon" md-button aria-label="menu" href="#/dashboard/chart/bar"><span>BAR</span></a></li>
         <li ng-if="show_menu"><a class="prepend-icon" md-button aria-label="menu" href="#/dashboard/chart/pie"><span>PIE</span></a></li>
         <li ng-if="show_menu"><a class="prepend-icon" md-button aria-label="menu" href="#/dashboard/chart/scatter"><span>SCATTER</span></a></li>
         <li ng-if="show_menu"><a class="prepend-icon" md-button aria-label="menu" href="#/dashboard/chart/radar"><span>RADAR</span></a></li>
         <li ng-if="show_menu"><a class="prepend-icon" md-button aria-label="menu" href="#/dashboard/chart/funnel"><span >FUNNEL</span></a></li>
         <li ng-if="show_menu"><a class="prepend-icon" md-button aria-label="menu" href="#/dashboard/chart/more"><span>MORE</span></a></li>
      </ul>
   </li> -->
</ul>
