<style>
    .md-datepicker-calendar-pane,.md-select-menu-container.md-active {
    z-index: 50000;
}
.nav-behind .app-sidebar
{
  z-index: 1 !important;
}
@media only screen and (min-width: 992px)
.nav-behind .app-sidebar {
    z-index: 1;
}
._md-datepicker-floating-label>md-datepicker .md-datepicker-button
{
    margin-top: -16px;
}

.pac-container
{
        z-index: 4000;
}

#emp-add-action{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important
}

#emp-add-action>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -26px;
    padding-left: -15px;
    border-radius: 42px;
} 
md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color:  rgb(224, 224, 224)
}

.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: rgb(224, 224, 224)
}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container {
    border-bottom-color:  rgb(224, 224, 224)
}

md-radio-button.md-default-theme .md-off, md-radio-button .md-off {
    border-color: rgb(224, 224, 224)
}


md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color:black;
    color: black;
}


md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
       color: #aaaaaa;
}
/*md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
       color: #aaaaaa;
}
*/

 md-checkbox:not(.md-checked) .md-icon {
    border-color:  #aaaaaa;
}
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    border-color:  #aaaaaa;
}


md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: #00326a;
    font-size: 16px;
}
</style>
<md-dialog aria-label="Reports" style="     max-width: 80%;
    width: 80%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
              Update Basic Details
            </h2>
            <span flex="">
            </span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">
                    close
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>

<style type="text/css">
    md-backdrop.md-dialog-backdrop {
    z-index: 2;
}
 .md-whiteframe-z1 {
     box-shadow: none !important;
    }
    md-autocomplete
    {
      height: 30px !important;
    }
.md-dialog-container {
    z-index: 51;
}
</style>
            <div class="box box-default">
                <div class="box-body form-validation">
                    <div class="row">
                        <form class="md-form-login form-validation" name="data_form1" novalidate="" style="margin-top: 2em;">
                            <div class="col-md-12 ">
                                
                         <div class="col-md-12">
                        <md-input-container class="md-block">
                                                    <label>Timezone</label>


                    <md-autocomplete
                    id="timezone"
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(zone)"
          md-items="zone in querySearch(ctrl.searchText)"
          md-item-text="zone.desc"
          md-min-length="0"
          md-clear-button="false"
          placeholder="Asia/Kolkata">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{zone.desc}}</span>
        </md-item-template>
        <md-not-found>
          No Timezone matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>

    
                      
                        </md-input-container>

                       </div>
                       
                       <div class="col-md-12" style="margin-top: 22px;">
                        <md-input-container class="md-block">
                                        <label>Address</label>
                                        <input googleplace="" ng-change="geocodeupdatelocpickup()" ng-model="address" id='dash-cust-address' placeholder="Address" required="" type="text" value=data.picktime ng-readonly="data.tripstart" />


                                      <md-icon ng-click="showpickupmap = showpickupmap" ng-show="showpickupmap" style="margin-left: 98%;   color: #00326a;">

                                  location_off
                                  <md-tooltip>
                                   Hide Map
                                  </md-tooltip>
                                      </md-icon>

                                        <md-icon ng-click="showpickupmap = showpickupmap" ng-hide="showpickupmap" style="color: #00326a;" id='dash-location-on'>

                                        location_on

                                             <md-tooltip>
                                    Show Map
                                  </md-tooltip>
                                      </md-icon>
                                    </md-input-container>




                       </div>
                            <div class="col-md-12" ng-init="geocodeupdatelocpickup()">

                                    <div class="col-md-12 gmmap" ng-if="showpickupmap" style="    box-shadow: none;margin-bottom: 13px; ">
                                        <gm-map options="{center: [pickup_ladd, pickup_long], zoom: mapzoom}">
                                            <gm-marker on-dragend="getpickuppos(marker.getPosition(),map.getZoom(),true)" options="{position:[pickup_ladd, pickup_long],draggable: true}">
                                            </gm-marker>
                                        </gm-map>
                                    </div>
                                   
                                </div>
                       <div class="col-md-12">
                        <md-input-container class="md-block">
                             <md-checkbox ng-false-value="0" ng-model="mail" ng-true-value="1" id='add-dash-geoloc' ng-disabled="{{mailsts}}">
                                                Sent Notification E-mail to The Customers
                                            </md-checkbox>

                             <md-checkbox ng-false-value="0" ng-model="sms" ng-true-value="1" id='add-dash-geoloc' ng-disabled="{{smssts}}">
                                                Sent Notification Sms to The Customers(Select The Plans for Contact The MT Admin)
                                            <!-- </md-checkbox>
                             <md-checkbox ng-false-value="0" ng-model="is_multipick" ng-true-value="1" id='add-dash-geoloc'>
                                                Multiple Pickup Points
                                            </md-checkbox>  -->              
                        </md-input-container>
                       </div>
                       <div>
                       </div>
                       <div class="col-md-12">
                                <md-button ng-click="submit_data()" class="right wid md-raised btn-w-md md-primary" type="submit" id="emp-add-action">
                                    {{ add ? 'Save' : 'Update' }}
                                </md-button>
                            </div>
                                    
					                                
                    		</div>            
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </md-dialog-content>
</md-dialog>
<md-dialog-actions layout="row">
</md-dialog-actions>
