<style type="text/css">
    md-pagination-wrapper {
    width:auto !important;
}
md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
    border-color: rgb(213,0,0) !important;
} 
.md-input-invalid{
border-color: rgb(213,0,0) !important;
}
td{
    padding:15px;
        font-size: 19px;
}

#emp-add-action{
border-radius: 8px;
    min-height: 15px;
    height: 31px !important
}

#emp-add-action>span{
    margin-top: -19px;
    font-size: 13px;
    position:  absolute;
    margin-left: -26px;
    padding-left: -15px;
    border-radius: 42px;
} 

   md-input-container .md-input {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f !important;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
}
md-input-container{
    margin:0 !important;
}
</style>
<style type="text/css">
 .empimg {
    border: 0;
    width: 17%;
    float: left;
    margin: 16px
}   
p{
        margin-top: 20px !important;
}
.md-button.md-icon-button {
    margin: 0 6px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    height: 59px;
    width: 78px;
    border-radius: 50%;
}
.md-whiteframe-z1 {
     box-shadow: none !important;
    }
    md-autocomplete
    {
      height: 30px !important;
    }
    md-input-container label { display: none; }
</style>


<section class="page-with-tabs">
    <div class="page-title">
        <h1>Hi {{data.first_name}} {{data.last_name}}</h1>
        <h2 class="upcase">{{role}}</h2>
    </div>
    <md-tabs md-dynamic-height>
         <md-tab style="display: none">
            <md-tab-label>Package Info</md-tab-label>
            
          <md-tab-body >
                <md-content layout-padding class="overfl" md-whiteframe="2">
            <div class="row">
                <div class="col-md-12" >

                  <div class="col-md-4"><span><img src="/assets/images/employee-ID.png"class="empimg"></span><p ><b>Package Name</b> <br>{{packData.packageinfo[0].name}}</p></div>
                  <div class="col-md-4"><span><img src="/assets/images/calendar.png" class="empimg"></span><p ><b>Package Activated Date</b><br>{{ begdate }}</p></div>
                  <div class="col-md-4"><span><img src="/assets/images/calendar.png" class="empimg"></span><p><b>Package Validity End</b><br>{{ pack_end_date }}</p></div>
        <!--               <p ng-bind-html="view(data.role,'Role')"></p> -->
                  <div class="col-md-4"><span><img src="/assets/images/first-and-last-name.png" class="empimg"></span><p><b>Total Allocated Employees</b><br>{{packData.packageinfo[0].no_of_emp }}</p></div>
                  <div class="col-md-4"><span><img src="/assets/images/first-and-last-name.png" class="empimg"></span><p ><b>Remaining Employees</b><br>{{packData.no_of_emp}}</p></div>

                 
<!--                          <p ng-if="data.belongs_manager" ng-bind-html="view(data.belongs_manager,'Belongs Manager')" class="textup"></p> -->

                </div>
 
        </md-content>
                
            </md-tab-body>
      </md-tab>
         <md-tab>
            <md-tab-label>Edit Profile</md-tab-label>
            <md-tab-body>
                <section>
                  
                   <div class="box box-default">
            <div class="box-body form-validation">
                <form name="data_form" unsaved-warning-form class="md-form-login form-validation" ng-submit="ProfileUpdate()" novalidate>
                                       <div class="col-md-3">

                                                     <label>First Name <span style="color: red">*</span></label>               
                        <md-input-container class="md-block">
                            <input ng-model="data.first_name" id='profile_firstname' required type="text">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                         <label>Last Name <span style="color: red">*</span></label>
                        <md-input-container class="md-block">
                            <input ng-model="data.last_name" required type="text" id='profile-lastname'>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <label class="phone" style="background: none">Phone no <span style="color: red">*</span></label>
                        <md-input-container class="md-block">
                            <input required ng-model="data.phone" id='profile-phoneno' type="text" 
 ng-intl-tel-input>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                            <label>Email <span style="color: red">*</span></label>
                        <md-input-container class="md-block">
                            <input required type="email" name="email" ng-model="data.email" id='profile-email' ng-pattern="/^.+@.+\..+$/" />
                           
                        </md-input-container>
                    </div>
                  <!--   <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Address </label>
                            <input required type="text" ng-model="data.street" id='profile-address'>
                        </md-input-container>
                    </div> -->
                     <div class="col-md-3">
                            <label>TimeZone  <span style="color: red">*</span></label>
                        <md-input-container class="md-block">

                       <!--  <label style="display: inline-block;max-width: 100%;margin-bottom: 5px;    font-weight: 700;">TimeZone <span style="color: red">*</span></label> -->
                    <md-autocomplete
                    id="timezone"
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="timezone"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(zone)"
          md-items="zone in querySearch(ctrl.searchText)"
          md-item-text="zone.desc"
          md-min-length="0"
          md-clear-button="false"
          placeholder="Asia/Kolkata">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{zone.desc}}</span>
        </md-item-template>
        <md-not-found>
          No Timezone matching "{{ctrl.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>


                        <!-- 
                            <input list="browsers" name="browser" aria-label="select" required ng-model='timezone' required id='timezone' >
                              <datalist id="browsers" >
                                <option ng-repeat = "zone in timeZone" value={{zone.desc}}>{{zone.timezone}}</option>
                            </datalist> -->
                        </md-input-container>
                    </div>
                    <div class="col-md-12">
                        <label>Company Location <span style="color: red">*</span></label>                        
                        <md-input-container class="md-block">
                                      
                                        <input googleplace="" ng-change="geocodeupdatelocpickup()" ng-model="data.street" id='dash-cust-address'  required="" type="text" value=data.picktime ng-readonly="data.tripstart" />


                                      <md-icon ng-click="showpickupmap = !showpickupmap" ng-show="showpickupmap" style="     margin-left: 97%;   color: #00326a;">

                                  location_off
                                  <md-tooltip>
                                   Hide Map
                                  </md-tooltip>
                                      </md-icon>

                                        <md-icon ng-click="showpickupmap = !showpickupmap" ng-hide="showpickupmap" style="    color: #00326a;" id='dash-location-on'>

                                        location_on

                                             <md-tooltip>
                                    Show Map
                                  </md-tooltip>
                                      </md-icon>
                                    </md-input-container>




                       </div>
                            <div class="col-md-12">

                                    <div class="col-md-12 gmmap" ng-if="showpickupmap" style="    box-shadow: none;margin-bottom: 13px; ">
                                        <gm-map options="{center: [pickup_ladd, pickup_long], zoom: mapzoom}">
                                            <gm-marker on-dragend="getpickuppos(marker.getPosition(),map.getZoom())" options="{position:[pickup_ladd, pickup_long],draggable: true}">
                                            </gm-marker>
                                        </gm-map>
                                    </div>
                                    
                                </div>

      
                    <div class="col-md-12">

                        <md-input-container class="md-block">
                             <md-checkbox ng-false-value="0" ng-model="mail" ng-true-value="1" id='add-dash-geoloc' ng-disabled="mailsts">
                                                Sent Notification E-mail to The Customers
                                            </md-checkbox>

                             <md-checkbox ng-false-value="0" ng-model="sms" ng-true-value="1" id='add-dash-geoloc' ng-disabled="smssts">
                                                Sent Notification Sms to The Customers(Select The Plans for Contact The MT Admin)
                                            </md-checkbox>
                            <!-- <md-checkbox ng-false-value="0" ng-model="multipick" ng-true-value="1" id='add-dash-geoloc'>
                                                Multiple Pickup Points
                                            </md-checkbox> -->
                        </md-input-container>
                       </div>
                 <!--div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> State </label>
                            <input required type="text" name="state" ng-model="data.state">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Country </label>
                            <input required type="text" name="country" ng-model="data.country">
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <label> Zip Code </label>
                            <input required type="text" limitto="6" name="zip" ng-model="data.zipcode">
                        </md-input-container>
                    </div>
                 
                -->
    
                   
                  <!--   <div class="col-md-12 nopad">
                        <div class="col-lg-4 col-md-4 pad8" ng-repeat="file in data.profile_image  track by $index">
                            <md-card>
                                <div class="md-media-lg card-media mdobj ">
                                    <a download="{{file}}" href="{{file}}" title="File">
                                        <img alt="File" style="width: 100%;height: 100%;" ng-src="{{file}}" onerror="globalapp.imgerror(this,event)">
                                    </a>
                                </div>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="FileDelete($index)">Remove File </md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div> -->
             <!--        <div class="col-md-12 nopad">
                        <h5>{{title}} Profile Image Upload</h5>
                    </div> -->
                    <div class="col-md-12 nopad" ng-show="false">


                  <lf-ng-md-file-input lf-api="lfApi"  name="files" lf-files="files" lf-mimetype="image/*"  lf-filesize="10MB" >
                        </lf-ng-md-file-input>

                 
                    </div>
                    <div class="col-md-12">
                        <hr>
                        <md-button type="button" ng-click="reset()" id='emp-add-action' class="md-raised right wid btn-w-md md-primary">Reset</md-button>
                        <md-button type="submit"  id='emp-add-action' class="right wid md-raised btn-w-md md-primary"> Update</md-button>
                    </div>
                </form>
            </div>
        </div>

                </section>
            </md-tab-body>
        </md-tab>

            <md-tab>
            <md-tab-label ng-click="resetpwd()" id='profile-changepwd'>Change Password</md-tab-label>
            <md-tab-body>
                <section>
               
            <div class="box-body form-validation">
                <form name="pwd_reset_form" unsaved-warning-form class="md-form-login form-validation" novalidate ng-submit="PasswordReset()">


                    <div class="col-md-4">
                            <label>Old Password <span style="color: red">*</span></label>
                        <md-input-container class="md-block">
                            <input ng-model="pwd.old" required type="password" id='emp-oldpwd'>
                        </md-input-container>
                    </div>
                 


                    <div class="col-md-4">
                            <label>New Password <span style="color: red">*</span></label>
                        <md-input-container class="md-block">
                            <input ng-model="pwd.new" name="password" required type="password" id='profile-newpwd' password-verify="{{pwd.confirm}}"  >

     <div class="help-block" ng-messages="pwd_reset_form.password.$error" ng-if="pwd_reset_form.password.$dirty">
          <p ng-message="required">This field is required</p>
          <p ng-message="minlength">This field is too short</p>
          <p ng-message="passwordVerify">Password not match!</p>
        </div>

                        </md-input-container>
                    </div>
                    <div class="col-md-4">
                            <label>Confirm New Password</label>                      
                        <md-input-container class="md-block">
                            <input ng-model="pwd.confirm" name="chpwd" id='confirm-newpwd' required type="password" password-verify="{{pwd.new}}"  >

 <div class="help-block" ng-messages="pwd_reset_form.chpwd.$error" ng-if="pwd_reset_form.chpwd.$dirty">
          <p ng-message="required">This field is required</p>
          <p ng-message="minlength">This field is too short</p>
          <p ng-message="passwordVerify">Password not match!</p>
        </div>

                        </md-input-container>
                    </div>
                  
               
    
                      <div class="col-md-12">
                        <md-button type="button" ng-click="reset()" class="md-raised right wid btn-w-md md-primary" id="emp-add-action">Reset</md-button>
                        <md-button type="submit"  class="right wid md-raised btn-w-md md-primary" id="emp-add-action"> Update</md-button>
                    </div>
                </form>
                    </div>
                  




                </section>
            </md-tab-body>
        </md-tab>


          <md-tab>
            </md-tab>
    </md-tabs>
</section>
