<style type="text/css">
    .mdl-data-table th,td
  {
    text-align: left !important;
  }
  md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default, md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default {
    background-color: #fff;
    color: rgba(0,0,0,.87);
    margin-top: -3em;
}
::placeholder {
    color: black;
    margin-top: 7px;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
   margin-top: 7px;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: black;
   margin-top: 7px;  
}
</style>
<style type="text/css">
       md-input-container .md-input {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 15px;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f !important;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;
}
md-input-container{
    margin:0 !important;
}
table{
        width: 90% !important;
    margin-left: 5%
}
md-select-value{
    border: none !important;
    color: #5f5b5b !important;
}
</style>
<section class="container-fluid with-maxwidth chapter" style="padding: 0">
    <article class="article">
        <div class="col-md-12 " style="background:#404040">
            <div class="col-md-12 nopad">
                <form class="md-form-login form-validation" name="data_form" ng-submit="filterData()" novalidate="">
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                             <label>
                                {{ 'EMPLOYEE' | translate}}  
                            </label>
                            <md-select aria-label="select" ng-model="emp_id" required="" style="-webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    order: 2;
    display: block;
    margin-top: 15px;
    background: white;
    padding: 2px 2px 1px;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    border: 1px solid #8080808f !important;
    box-sizing: border-box;
    float: left;
    padding-left: 8px;">
                                <md-option value="all">
                                    All Employees
                                </md-option>
                                <md-option ng-repeat="user in  users" value="{{user.user_id}}">
                                    {{user.last_name}} {{user.first_name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-md-3">
                        <md-input-container class="md-block">
                            <input date-range-picker="" name="name" ng-model="datePicker" options="{  timePicker: true,
        timePickerIncrement: 5,
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        },
        autoApply: true,
        }

        " required="" type="text">
                            </input>
                        </md-input-container>
                                            </div>

                    <div class="col-md-2">
                       
                            
                        <input name="name" ng-model="order_id" type="text" placeholder="Order ID" style="
    margin-top: 17px;
    padding: 6px;
    border: none;
">

                        
                    </div>

                    <div class="col-md-2">
                        <md-button class="md-raised btn-w-md md-primary" type="submit" style="background-color: #369490;margin-top: 1em">
                            {{ 'filter' | translate}}
                        </md-button>
                    </div>
                     <div class="col-md-2">
                        <md-button class="md-raised btn-w-md md-primary" type="button" export-to-csv style="background-color: #369490;margin-top: 1em">
                            {{ 'export' | translate}}
                        </md-button>
                    </div>
                </form>
            </div>
        </div>

<!--
        <button type="button" ng-csv="datatable.data" filename="test.csv">Export</button> -->
        <div class="row nopad" ng-clock="">
            <div class=" col-md-12 nopad">
<!--
                <h3 class="text-center" ng-if="data.visit_list.length == 0 || data.length == 0 " style="text-transform: uppercase;
    margin-top: 18px;">
                    No Reports to Show
                </h3> -->
<!--                 <table class="mdl-data-table tablefix" ng-if="data.visit_list.length > 0" style="width: 100%;    table-layout: fixed;">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">
                                Scheduled
                            </th>
                            <th class="mdl-data-table__cell--non-numeric" ng-if="emp_id == 'all'">
                                Employee
                            </th>
                            <th class="mdl-data-table__cell--non-numeric">
                                Customer
                            </th>

                            <th class="mdl-data-table__cell--non-numeric">
                                Delivered
                            </th>
                            <th class="mdl-data-table__cell--non-numeric">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="val in data.visit_list">
                            <td class="mdl-data-table__cell--non-numeric">
                                {{val.task.schedule_date_time}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric" ng-if="emp_id == 'all'">


                                <span ng-if="val.task.allocated_emp">
                                    {{val.task.allocated_emp}}
                                </span>

                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span ng-repeat="user in customers | filter:{'id':  val.task.cust_id}:true">
                                    {{user.name }}
                                </span>
                            </td>


                            <td class="mdl-data-table__cell--non-numeric">
                                {{val.task.timestamps}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{val.task.status}}
                            </td>
                        </tr>
                    </tbody>
                </table>
 -->             <div class="md-toolbar-tools">

                    <div ng-hide="showform" class="col-md-4" style="font-size: 21px;    margin-left: 34px;"><span>Mileage Report</span></div>
                    <form class="flex">
                        <md-input-container class="md-block" flex=100>
                            <input ng-model="searchFish" class="searchmrg" style="width: 35%;
    float: right;background: none;    margin-right: 2.6em">
                        </md-input-container>
                        <md-icon class="ng-scope material-icons" style="margin-top: -3px;      color: black;float: right;margin-top: -27px !important;    margin-right: 2.6em">search</md-icon>
                        
                    </form>
                </div>

                       <md-content layout="column" flex style="background: none;">
           <!--  <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
                <div class="md-toolbar-tools">

                    <span flex></span>

                    <md-button class="md-icon-button" ng-click="activefilter=!activefilter;showsearch = false">
                        <md-tooltip>
                            Filters
                        </md-tooltip>
                        <md-icon>filter_list</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="showsearch = !showsearch;activefilter = false">
                        <md-tooltip>
                            Search
                        </md-tooltip>
                        <md-icon>search</md-icon>
                    </md-button>
                </div>
            </md-toolbar> -->
           <!--  <md-toolbar class="md-table-toolbar md-default" ng-show="showsearch" aria-hidden="false">
                <div class="md-toolbar-tools">
                    <form class="flex">
                        <md-input-container class="md-block" flex=100>
                            <input ng-model="searchFish" placeholder="Search" class="searchmrg">
                        </md-input-container>
                    </form>
                </div>
            </md-toolbar> -->
            <!-- <md-whiteframe layout="row" ng-repeat="single in multisearch" ng-show="activefilter">
                <div class="md-toolbar-tools mrg1">
                    <md-input-container flex=40>
                        <label>Column</label>
                        <md-select ng-model="single.column" ng-change="updateDataTable()">
                            <md-optgroup label="Column">
                                <md-option ng-value="column.name" ng-repeat="column in autocolumn">{{column.display}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block searchmrg" flex=40>
                        <label>Search</label>
                        <input ng-change="updateDataTable()" ng-model="single.ident">
                    </md-input-container>
                    <md-button type="button" class="md-raised right wid btn-w-md md-warn h40" ng-click="deleteRow(single.id)" ng-disabled="multisearch.length == 1">
                        <md-tooltip>
                            Remove Filter
                        </md-tooltip>
                        Remove
                    </md-button>
                    <md-button class="md-raised right wid btn-w-md md-primary h40" ng-click="addRow()">
                        <md-tooltip>
                            Add Filter
                        </md-tooltip>
                        Add
                    </md-button>
                </div>
            </md-whiteframe> -->
            <md-table-container>
                <table md-table id='tablexp'>
                    <md-progress-linear md-mode="indeterminate" ng-show="!wwstatus"></md-progress-linear>
                    <thead md-head md-order="query.order" style="background: #369490">
                        <tr md-row>
                            <th md-column ng-repeat="column in autocolumn" md-order-by="{{column.name}}" style="color:white;font-size: 16px">
                                <span>{{column.display}}</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="row" md-select-id="name" md-auto-select ng-repeat= "temps in temp | toArray:false |filter : searchFish | orderBy: query.order">
                            <td md-cell>{{temps.order_id}}</td>
                            <td md-cell>{{temps.start_time}}</td>
                            <td md-cell>{{temps.end_time}}</td>
                            <td md-cell>{{temps.distance}}</td>



                        </tr>
                    </tbody>
                </table>
            </md-table-container>

        </md-content>
            </div>
        </div>
    </article>
</section>
